[2020-04-02 09:04] #680 closed

[2020-04-02 09:15] burnash commented on #714
@kylecarow thank you for sharing this.
I think that, unfortunately, the error returned by Sheets API is too ambiguous to do any sort of further automatic introspection to hint the user at possible permissions issue.

I'm closing the issue but I tag it as "Docs" so, later on, when we create a troubleshooting section in the docs we can extend it with this issue. (Of course, if you're interested in c

[2020-04-02 09:15] #714 closed

[2020-04-02 13:01] damgad opened #746 "Allow `get_all_records()` function to pass `value_render_option` parameter)"
I would like to fetch data from a worksheet using  `get_all_records()` function. The kind of data in the worksheet (dates & precise float numbers) forces me to use the following requests params in order to get the data regardless of the formating:

`{'valueRenderOption': "UNFORMATTED_VALUE"}`

I would like to have at least `value_render_option` parameter in the function `get_all_records()`. All th

[2020-04-02 13:05] burnash commented on #671
@krumholz I'm sorry for the late response. Let me know if you are still interested in implementing this feature.

[2020-04-02 13:06] damgad commented on #715
@burnash Sure, I've just created #746

[2020-04-02 13:06] burnash commented on #671
@emlazzarin Would you be interested in helping maintain the project?

[2020-04-02 18:19] jorgeCollinet opened #747 "Strange behaviour when a worksheet is called "C""
**Important**: Please do not post usage questions here.
To get a quick response, please ask a question on Stack Overflow using `gspread` tag.
See existing questions: https://stackoverflow.com/questions/tagged/gspread

---

**Describe the bug**
When I run get_all_values() of a worksheet called "C" sometimes it returns empty and other times only the A1 cell value

**To Reproduce**
Steps to reproduce

[2020-04-02 19:18] burnash commented on #747
Thank you for the report! This is already fixed in #640 and will be released in v3.4.0 soon. Please stay tuned.

[2020-04-03 03:04] aiguofer commented on #722
To add to @lavigne958's comment, the `open` function searches the account's own Google Drive for a sheet of that name. In the case of service accounts, they generally don't have the spreadsheets added to their drive. As he mentions, using `open_by_key` or `open_by_url` might be a better option.

[2020-04-03 09:51] lavigne958 commented on #314
@burnash perhaps you mixed this issue with issue: #722 ?
This issue can be addresses, at least I can try to address it and try to improve the exception error handling from the requests to the google drive API.

[2020-04-03 11:02] burnash commented on #746
@damgad It'd be great if you could implement this. Please make a PR.

I don't have strong preference regarding head behavior either. To keep it simple I'd have the head fetched along with the rest of the data as you suggest.

One implementation note: please take a look at how `value_render_option` and other arguments are passed to the new methods `Worksheet.get()` and `Worksheet.batch_get()` with

[2020-04-03 13:44] burnash commented on #314
@lavigne958 I'm not sure we need to address it now. The thing is, this issue predates API v4, and if I'm not mistaken since Sheets API got updated the quota error is very explicit. Here's what I get now when I'm running too many tests locally:

[code]

Of course, one improvement is to raise a more specific exception in gspread. This could be useful. Are you interested in implementing this?

[2020-04-03 17:52] lavigne958 commented on #314
Yes I am, I will have a look on it.

[2020-04-05 07:52] jiuyuejiu commented on #135
@wookayin  Thank you very much, your link helps me a lot.

[2020-04-05 14:26] burnash commented on #747
3.4.0 is now released.
Could you please upgrade gspread?
I'm closing the issue for now. Please feel free to open a new issue if you still experiencing the bug.

[2020-04-05 14:26] #747 closed

[2020-04-05 15:06] jorgeCollinet commented on #747
Thanks!!
I tried the version 3.4.1 and it works correctly.

[2020-04-06 13:09] chrisburr opened #751 "Python 2 SyntaxError in 3.4.0 and 3.4.1"
In https://github.com/burnash/gspread/commit/ad1e55e20e4c102017c9c08ce2f4f38c554fbc24 a keyword argument was added in combination with `*specs`. This Syntax is not supported in Python 2 therefore causing:

[code]

This can also be seen in the CI for that commit: https://travis-ci.org/github/burnash/gspread/jobs/471597434?utm_medium=notification&utm_source=github_status

Dropping Python 2 support i

[2020-04-06 13:19] burnash commented on #751
Thanks for spotting this! No, it's not intentional, I've overlooked this.

gspread is not dropping Python 2 support until next major release.

[2020-04-06 13:21] burnash commented on #751
I'll release a fix soon. Please stay tuned.

[2020-04-06 13:39] #751 closed

[2020-04-06 13:43] chrisburr commented on #751
Thank you for the extremely quick fix!

[2020-04-06 13:45] burnash commented on #751
You're welcome. It actually owes to the precision of the bug report ;)

[2020-04-06 15:28] ryan-pixel opened #753 "Authentication using an API Key"
I was wondering if it was possible to authenticate with gspread using a [API key](https://cloud.google.com/docs/authentication/api-keys#creating_an_api_key). I'm trying to use AWS Lambda and I'm being prompted to open a browser page to authenticate.

[2020-04-06 15:31] burnash commented on #753
It's funny that I'm actually looking at it this very moment. Looks like it's a recent addition and could be the simplest way to authenticate if I'm not mistaken.

What are you currently using to auth?

[2020-04-06 16:53] burnash commented on #753
A deeper look revealed that the keys are limited to public data:

From Sheets API Guides > [Acquiring and using an API key](https://developers.google.com/sheets/api/guides/authorizing#APIKey):

Is it your case?

[2020-04-06 21:30] ryan-pixel commented on #753
Not exactly sure. I'm just having my code access a Spreadsheet that the service account is shared with. It'll add/delete individual sheets and populate the cells with the data I need. I was trying to gspread in AWS Lambda and was running into issues with an OAuth page popping up, but I've since found a fix for it.

`
import gspread
from google.oauth2 import service_account
from google.auth.transpo

[2020-04-08 09:24] Abdellam1994 commented on #678
Hello,
I also think that this feature would be really useful.
It will allow to create directly a spreadsheet into a folder. It will therefore avoid polluting the drive when creating spreadsheets at scale.
I can work on the feature :)

[2020-04-08 09:32] burnash commented on #678
@Abdellam1994 would love to see this implemented, please do a PR.

[2020-04-09 18:03] JoachimKoenigslieb opened #755 "Copying worksheets from given spreadsheet into any given other spreadsheet."
I have different templates that I want to combine into one spreadsheet for editing.

I think this could be achieved by copying the relevant worksheets from the spreadsheets, into a new spreadsheet.

I can manually create all the templates into one giant spreadsheet. I think this option is worse, as this does not allow for flexibility.

It seems that the underlying API allows this. https://develope

[2020-04-10 08:27] RedRyan111 commented on #272
I fixed this is jupyter notebook by restarting the kernel and running all.

[2020-04-10 17:17] #581 closed

[2020-04-10 17:24] burnash commented on #568
Implemented in #701

[2020-04-10 17:24] #568 closed

[2020-04-13 10:14] tivaliy opened #757 "Cell class should support conversion to A1 notation"
Currently, there is no straightforward way to fetch data in `A1` notation from `Cell` object (of course one can use `utils` package explicitly). It will be a great to have this feature.
Let's say you have the following steps to be performed:
1. Find some specific Cell by content.
2. Get a list of cells starting from previously found Cell.

[2020-04-13 14:03] burnash commented on #757
I'm sorry I don't think I understand the problem. You can get a cell using A1 notation with `Worksheet.acell()`, aren't you?
Could you please provide a code example to illustrate the case more clearly?

[2020-04-13 15:30] tivaliy commented on #757
I mean that when you have `Cell` instance there is no way to represent it in `A1` notation for whatever reason, so I have to use numeric boundaries all the time.
Here is the case

[code]
Now I want to operate with `cell` in `A1` notation

[2020-04-13 18:16] burnash commented on #757
I think I understand it now. Do you mean you want to get the cell address in A1 notation from the cell instance?

As you said, at the moment the only option is to convert to A1 notation using `utils.rowcol_to_a1()`.
However, I think that having a property on the cell instance with address in A1 notation could be useful.

If you want you can make a pull request with the implementation of such prope

[2020-04-14 07:58] burnash commented on #755
Thank you for the suggestion. I like the idea.
I think this could be a method on `Worksheet` class:

[code]

Let me know if you're interested in implementing this method and submitting a PR.

[2020-04-14 08:39] JoachimKoenigslieb commented on #755
I have written a method like this and will make a PR.

[2020-04-16 09:32] tivaliy commented on #757
Ok, I will create PR soon.

[2020-04-16 12:27] #757 closed

[2020-04-17 09:46] burnash commented on #641
I'm really sorry for the late reply. Yes, I think this is a good idea. Let me know if you are still interested in submitting a PR.

[2020-04-17 09:51] burnash commented on #644
Thank you for the report. Yes, this is expected behavior.  `get_all_values()` returns the values fetched from the Sheets API as is. While `get_all_records()` does some additional processing with numbers.
Mode details in the docs: https://gspread.readthedocs.io/en/latest/api.html#gspread.models.Worksheet.get_all_records

I'm closing this for now. If the docs need to be more explicit about the diffe

[2020-04-17 09:51] #644 closed

[2020-04-17 09:54] burnash commented on #565
@keawepoo Thanks for the answer. Closing the issue.

[2020-04-17 09:54] #565 closed

[2020-04-17 09:59] burnash commented on #373
This should be fixed with #637. On PyPI since version 3.4.0.

I'm closing this issue. Please upgrade gspread. If the problem persists, ping me and I'll reopen the issue.

[2020-04-17 09:59] #373 closed

[2020-04-17 10:08] burnash commented on #484
Thanks for the input to everyone. I believe this issue is resolved now in #706

Sometimes it's hard to keep up with UI changes in Google Console. So contributions to the docs are always welcome.

@crccheck Thanks for creating the wiki page. I'm now considering taking down Wiki pages to consolidate all documentation in one place. This ticket is a bit outdated, documentation is now on Readthedocs, a

[2020-04-17 10:08] #484 closed

[2020-04-17 10:11] burnash commented on #695
I'm sorry I don't see how this is relevant to gspread.

[2020-04-17 10:11] #695 closed

[2020-04-20 19:47] AETDDraper opened #764 "GSpread Error 429"
**Important**: Please do not post usage questions here.
To get a quick response, please ask a question on Stack Overflow using `gspread` tag.
See existing questions: https://stackoverflow.com/questions/tagged/gspread

---

**Describe the bug**
A clear and concise description of what the bug is.

Error I am getting when clearing and then updating 15 Sheets. Roughly 1000 rows and 10 columns for each

[2020-04-21 13:20] #447 closed

[2020-04-23 08:08] alihassan10020161 commented on #718
check this link. it resolve my same problem

https://www.youtube.com/watch?v=cnPlKLEGR7E

[2020-04-23 16:48] burnash commented on #531
Basic implementation in #731
For more elaborated use cases: [gspread-formatting](https://github.com/robin900/gspread-formatting)

[2020-04-23 16:48] #531 closed

[2020-04-23 19:05] lavigne958 commented on #700
I am concerned about the detail: duplicate the initial value.
I merged cells in a spreadsheet and exported the sheet as csv file to have it in a way that looks similar to a list of lists with values.

I have the first 2 celles [A1, A2] are merged together with a value of 'XXX', the output as csv file contains the following line for those 2 celles: 'XXX,' which means the value of A2 is empty.

This

[2020-04-23 21:31] arredond commented on #700
@lavigne958 that's a nice concern to have but the feature I'm proposing is just to have a parameter that controls this. I'm not saying what the default (to duplicate values or not) should be.

IMHO, what you're describing is a legacy behavior that, yes, some users might expect, but may be very unintuitive for others (such as myself). Having the option to choose is always nice :)

[2020-04-24 07:40] pipetrunks opened #767 "Solution for the date problem"
**Is your feature request related to a problem? Please describe.**
I think a lot of people, like me, have encountered the date problem since a datetime object cannot be exported from python to google spreadsheet

**Describe the solution you'd like**
Do a conversion from date number used by python to number used by google spreadsheet (same as used by excel):

[code]
**Describe alternatives you've c

[2020-04-24 10:32] lavigne958 commented on #700
My apologies I did not get the "option" / "parameter" part,I ended up on this page from the PR and no the other-way around.

I do think this option is useful then.

[2020-04-25 00:31] alecbw opened #769 "TypeError: Credentials need to be from either oauth2client or from google-auth"
**Describe the bug**
A change in version 3.4.0 broke my gspread.authorize(). I must use from_service_account_info (can't have a .json file in my environment), and rely upon [this hack](https://stackoverflow.com/questions/51618127/credentials-object-has-no-attribute-access-token-when-using-google-auth-wi/51808972) to enable it with a combo of google-auth and oauth2client.

**To Reproduce**
Steps to

[2020-04-25 01:11] alecbw commented on #769
Guessing based on [these commits](https://github.com/burnash/gspread/pull/637/files) that oauth2client was intentionally deprecated and that's causing this auth to fail

If that's the case, can you:
* Update the error message to be more clear? It's currently `Credentials need to be from either oauth2client or from google-auth.`
* Provide an example of using `service_account.Credentials.from_servic

[2020-04-25 01:31] alecbw commented on #769
Closing this now, the solution was right in front of my face:

[code]

Still think it's worth doing the two things in the comment above

[2020-04-25 01:31] #769 closed

[2020-04-25 10:54] lavigne958 commented on #764
Hello, I would advise you fill up the issue template so everyone looking at it can have enough details to reproduce the issue and provide you with the necessary help.

This is just an advise.

[2020-04-25 11:03] lavigne958 commented on #724
Hello, this error code is part of the family '500' error codes. in HTTP protocol a code that is 500 or above is an error on the server side, which mean this has nothing to do with gspread.

Looking at the error message: "The service is currently unavailable", I believe that google servers were in an error state, or maintenance or something similar. you should try again.

[2020-04-27 07:52] burnash commented on #767
Thank you very much.

Could you please give more context: what method do you use to update a spreadsheet?

Also, I tried to run the snippet you provided, updated a test spreadsheet, and got this:

[code]

After I updated the sheet and change the format to "Date" I get this:

![Screenshot 2020-04-27 at 09 50 16](https://user-images.githubusercontent.com/264674/80347407-8eb08500-886c-11ea-8070-480e1

[2020-04-27 08:35] burnash commented on #769
Thank you for the input and for the detailed report. Totally agree on the suggestions.

The authentication topic is broad. Currently, I'm trying to make the auth as simple as possible (#762, #768).

The library will greatly benefit if we have more cases covered in docs. Unfortunately, I can't cover a lot of cases from my own experience.

Could you suggest a better message? This is something we can

[2020-04-27 08:39] muddi900 commented on #547
Hey

did you ever find the solution to the issue?

thanks

[2020-04-27 09:08] burnash commented on #547
@muddi900 Could you post your code example and a stack trace?

[2020-04-27 12:47] burnash commented on #672
I'm closing this issue due to inactivity. Feel free to open a new issue when you have an update.

[2020-04-27 12:47] #672 closed

[2020-04-27 13:57] #755 closed

[2020-04-30 23:42] pipetrunks commented on #767
Ok. the correct code with comments in english language:

from datetime import datetime
def Time2GSS (datetime_object):
     secs = datetime.timestamp (datetime_object) # Time in seconds
     Difpy_gs_h = 25569 # Days difference between GSS zero point and Python zero point (Excel starts on 0/1/1900 at 00h and Python on 12/31/1969 at 19h) - (With your comment, i verify and GSS have a zero point at 3

[2020-04-30 23:55] pipetrunks commented on #767
https://docs.google.com/spreadsheets/d/1QZnYNdVMIiNFO678R-msluOR7h4E3bLbX69eZ6_laow/edit#gid=1291228018&range=A1:E2

[2020-05-01 00:09] pipetrunks commented on #767
Please confirm your zero point, maybe in your country is diferent (I´m in Colombia, South-America). If your fail persist, change the number for 25569:

Difpy_gs_h = 25569

[2020-05-04 06:50] MichaelChirico opened #770 "Documentation: does get_all_values save on API requests?"
I ran into a rate-limiting issue when using (essentially) `[sheet.row_values(i) for i in range(n)]`.

As a workaround, I found the `get_all_values` method, but it's not clear from the documentation that this can actually work for the purpose of saving API requests.

I had a look at the source code and it _looks_ like it will only make a single request, but anyway I think this is something importan

[2020-05-04 19:50] burnash commented on #770
Sure, you can always improve the documentation and examples. Pull requests are very welcome :)

[2020-05-04 20:16] aiguofer commented on #770
Hmm it's documented there: https://gspread.readthedocs.io/en/latest/user-guide.html#getting-all-values-from-a-worksheet-as-a-list-of-lists

That being said, some comments about pros/cons and differences between different methods of retrieving data would probably be useful.

[2020-05-04 20:19] aiguofer commented on #764
This is documented in the Google Sheets API: https://developers.google.com/sheets/api/limits

I implemented a retry for the 100s quota breach in: https://github.com/aiguofer/gspread-pandas/blob/master/gspread_pandas/util.py#L288

I'd be happy to port it over to gspread

[2020-05-05 01:22] MichaelChirico commented on #770
@aiguofer I'm still not seeing it on that page... I see `get_all_values` mentioned twice:

usage without comment

Uses `get_all_values` indirectly while discussing interface with NumPy -- nothing specific to `get_all_values`.

[2020-05-05 01:24] MichaelChirico commented on #770
@burnash thanks for the response. Usually I would be more than happy to file such PR, but truth be told, I wasn't even using the package myself -- this issue came up during a code review I was doing -- so I am particularly unqualified in this case.

[2020-05-05 08:07] burnash commented on #770
@MichaelChirico thanks for elaborating. I'm closing the issue for now.

[2020-05-05 08:07] #770 closed

[2020-05-05 09:23] Abdellam1994 commented on #678
Hello :)

I noticed that I only implemented the folder option for "create function" and not for the "copy function".
Could we reopen the issue ?
I will work on a PR asap :)

[2020-05-05 09:49] burnash commented on #678
Hi there! Sure, would love to get a PR.

[2020-05-05 10:03] burnash commented on #770
@MichaelChirico could you take a look at #771 to see if this clears things up a bit? (Proofreading is  also appreciated, English is not my first language.)

[2020-05-06 08:30] burnash commented on #764
Yeah, I've started getting 429 recently while running the test suite and implemented a derived `Client` class very similar to the [monkey patched](https://github.com/aiguofer/gspread-pandas/blob/master/gspread_pandas/util.py#L288)  in dbdf85a386b6aecac52ec168420f2307409ef307

I haven't yet made up my mind if this should be the default behavior in gspread. The problem is that it may not be clear to

[2020-05-06 14:15] #659 closed

[2020-05-07 08:14] DAR6969 commented on #35
File "client3.py", line 42, in <module>
    quotes = json.loads(urllib.request.urlopen(Query, format(random.random())).read(
))
  File "/usr/lib/python3.8/urllib/request.py", line 222, in urlopen
    return opener.open(url, data, timeout)
  File "/usr/lib/python3.8/urllib/request.py", line 522, in open
    req = meth(req)
  File "/usr/lib/python3.8/urllib/request.py", line 1250, in do_request_

[2020-05-09 07:45] ushuz commented on #441
+1 for `get_records(range=)` and `get_values(range=)`

[2020-05-09 10:06] burnash commented on #441
@ushuz Please stay tuned.

[2020-05-10 02:35] wolverdude commented on #271
Whatever happened to this? It would be super useful to get a reference to a worksheet by copy-pasting the URL, and this feature is a prerequisite to that.

[2020-05-10 08:48] burnash commented on #271
@wolverdude could you please share an example usage for this / your use case scenario?

[2020-05-10 11:25] python-engineer commented on #545
I would love to see this one merged

[2020-05-11 07:56] wolverdude commented on #271
What I would like is something like

[code]

This would return a specific tab from a spreadsheet. I feel like that’s a per common use-case, just wanting some specific data from a specific sheet, and it’s easy to just copy-paste the url.

This issue would be a perquisite to that, and at least halfway there. I envision the API would be something like:

[code]

[2020-05-11 07:58] wolverdude commented on #271
I’d be happy to put in a PR for it.

[2020-05-11 07:59] burnash commented on #271
Great, the PR is welcome!

[2020-05-11 09:39] akashvyom opened #772 "Library is not updated in conda"
The last publish to conda was made 1 year and 4 months back can we publish all the latest version to conda as well
![image](https://user-images.githubusercontent.com/8558879/81547340-585d2480-9399-11ea-804c-c637ee02198c.png)

[2020-05-11 09:56] burnash commented on #772
Thanks for the info. I believe you're referring to this URL: https://anaconda.org/conda-forge/gspread

I'll be glad if the latest version of gspread is available on conda.
Unfortunately, I didn't publish gspread to conda myself. There's no information about the maintainer of the conda package available so I hope it's automatic.

I'm happy to get help with this issue.

[2020-05-11 10:03] burnash commented on #772
It looks like this is the source repo for the conda package https://github.com/conda-forge/gspread-feedstock

Again, I would appreciate if someone could help to figure out why the package is not updating in conda.

[2020-05-11 16:45] akashvyom commented on #772
@burnash I will take a look at this as this is something I need with one of our projects as well

[2020-05-11 16:54] burnash commented on #772
@akashvyom thank you very much!

[2020-05-12 04:05] cryptoteatime commented on #50
Replying in hopes it bumps this issue, since the API has been updated. Would be nice to have this as a simple add_note function to a cell object.

To anyone else who may be discovering this, you can accomplish this with the latest version of gspread and the [batch_update method](https://gspread.readthedocs.io/en/latest/api.html#gspread.models.Spreadsheet.batch_update).

Your supplied dictionary pa

[2020-05-12 11:13] burnash commented on #50
@cryptoteatime Thanks for bumping this.

If anyone is interested in implementing this I'm open for a PR.

[2020-05-12 11:14] burnash commented on #50
@hexvolt would you be still interested?

[2020-05-12 21:37] kyluca commented on #718
Hey all, I was having similar OAuth issues when trying to update some old code (using gspread==0.6.2) to use the latest versions (gspread>=3.0.0) and I believe it might be the same solution required here.
The scopes OP is using were the same as mine, `https://spreadsheets.google.com/feeds`, which worked for old versions of the Google Sheets API. But now we should be using v4 of the Google Sheets A

[2020-05-13 09:08] WolfClaw009 commented on #153
Hello @seemantadutta
I know I am very late. I have recently started coding in Python and saw this question. The solution to this is
print(len(worksheet.get_all_values()))
This will give you the length of the list which will be equal to the number of rows in your spreadsheet.

[2020-05-13 21:05] Adesh3832 commented on #153
Create that new row in other worksheet, Which take no time and keep doing it for few entries and after that insert that worksheet data into your final sheet, like a batch process.

This will help to save time as code doesn't have to initialize all the data.

[2020-05-17 00:19] mohamad-islam commented on #153
thanks man that helped me

[2020-05-18 04:38] ftnext opened #773 "Client(None, session) raises AttributeError: 'NoneType' object has no attribute '__module__' (using with Authlib)"
**Important**: Please do not post usage questions here.
To get a quick response, please ask a question on Stack Overflow using `gspread` tag.
See existing questions: https://stackoverflow.com/questions/tagged/gspread

---

**Describe the bug**
It seems that we can't pass `None` to `gspread.Client`, even though [the documentation](https://gspread.readthedocs.io/en/latest/advanced.html#using-authlib

[2020-05-18 05:19] lepture commented on #773
It was caused by https://github.com/burnash/gspread/pull/711

[2020-05-19 09:09] #773 closed

[2020-05-19 13:20] burnash commented on #773
Thank you for reporting this. I'm going to release it on PyPI with the version 3.7.0

[2020-05-19 22:35] damgad commented on #746
I've just pushed PR #776 implementing that feature.

Regarding the `accepted_kwargs` I've tried to use that pattern but IMO, it can't be safely done. That decorator may introduce breaking changes and I won't recommend using it, especially in existing API.

To show what I mean let's take an example. Let's say that currently there are two people using the function in the following ways:
1. `sheet.ge

[2020-05-20 11:19] anhquanhua189 commented on #153
Hi WolfClaw,

The problem with this is the fact that you still have to call for get_all_values().

OP was wandering for a method (so was I) to address the last row in the spreadsheet since he was dealing with a large amount of data and it was taking a while for get_all_values() to be called.

Your proposed solution did not address his problem correctly.

[2020-05-20 12:57] rathegod1992 commented on #697
Hi @burnash  ,

It seems that this issue is back. The spreadsheet is shared but the notification is not sent.

Regards,
Sergiu

[2020-05-20 13:01] rathegod1992 opened #777 "Issue https://github.com/burnash/gspread/issues/697 re-appeared since 18th May 2020"
Hi @burnash , i am using python 3.7.1 with **gspread** library version 3.1.0.
I tried with gspread 3.6.0 but it is the same issue.

Until the 17th of May 2020, every time i shared a spreadsheet with a user, that user received an email notification. My share function is like this:

def share_spreadsheet_with_users(self, users_to_share_with):
    """

    :param users_to_share_with: the users with w

[2020-05-20 14:01] burnash commented on #697
@rathegod1992 Thanks for reporting. Previous time it looked like the problem was on Google Sheets API end (e.g. server-side, not related to gspread or other client libraries). I have a strong feeling it the same now.

[2020-05-20 14:02] burnash commented on #777
Answered in #697. Most likely an API backend issue.

[2020-05-20 15:00] rathegod1992 commented on #697
Thanks for your response, @burnash  .

I will comment back here when the problem is gone and email notifications are sent again.

[2020-05-20 16:53] ryan-pixel opened #778 "Unable to open sheet by sheetname in a Shared Drive"
**Important**: Please do not post usage questions here.
To get a quick response, please ask a question on Stack Overflow using `gspread` tag.
See existing questions: https://stackoverflow.com/questions/tagged/gspread

---

**Describe the bug**
Getting SpreadSheetNotFound errors when trying to open a sheet inside a Shared Drive by its sheetname. Opening via the url works fine, but I can't open via

[2020-05-21 03:55] offlinemark opened #779 "Feature request: Authentication from service account key in memory"
The current auth API takes a filename

[code]

In some environments, it's much easier to pass configuration via the environment, rather than the filesystem. An example is Heroku.

It would be nice if the `service_account` API allowed passing the *contents* of that json file, instead of a filesystem path to it.

To implement it gspread would just need to use the `Credentials.from_service_account_in

[2020-05-21 06:57] DaftVader43 opened #780 "exception for worksheet.get('range') on blank cells"
**Important**: Please do not post usage questions here.
To get a quick response, please ask a question on Stack Overflow using `gspread` tag.
See existing questions: https://stackoverflow.com/questions/tagged/gspread

---

**Describe the bug**
A clear and concise description of what the bug is.
using the get method with a valid range on a worksheet but the range is empty cells.

**To Reproduce**
S

[2020-05-23 16:47] yeahyeahyo commented on #697
+1
Same problem here, since last week.

[2020-05-24 09:17] sinhprous commented on #697
Same problem +1

[2020-05-24 09:37] emiraydin commented on #697
Same here +1, was working last week

[2020-05-26 09:43] adamcunnington opened #781 "Overwriting a sheet with fewer rows currently requires 2 (non-atomic) operations"
I think the Google Sheets API for updating cells against an entire sheet range is unintuitive. If my sheet has 100 rows and I wish to replace it with 10 rows, I would expect that providing 10 rows to gspread.worksheet.update would do this. At first, i thought this was a bug in gspread because of how the default range parameter is handled (by the way, the way you guys have implemented the range par

[2020-05-26 18:49] burnash commented on #779
Great idea, totally agreed.

[2020-05-29 14:49] roburdo opened #782 "value_render_option parameter in get_all_values()"
**Important**: Please do not post usage questions here.
To get a quick response, please ask a question on Stack Overflow using `gspread` tag.
See existing questions: https://stackoverflow.com/questions/tagged/gspread

---

**Describe the bug**
I want to get all values from a spreadsheet as formulas (as it contains hyperlinks). The parameter value_render_option doesn't work although in the API Refe

[2020-05-29 15:24] roburdo commented on #782
I realized the gspread version I was using in Google Colab wasn't up to date. Updated to version 3.6.0 and problem solved. Thanks!

[2020-05-29 15:24] #782 closed

[2020-05-31 20:49] ItayGal2 commented on #697
Me too, still not working

[2020-06-03 08:44] rathegod1992 commented on #697
Hi @burnash ,

It seems that the google service for mail notification is working again. Starting from 2 June 2020.

Thanks.

[2020-06-03 08:45] rathegod1992 commented on #777
Hi @burnash ,

It seems that the google service for mail notification is working again. Starting from 2 June 2020.

Thanks.

[2020-06-04 18:09] kamel3d commented on #524
I have this issue when using php API, is there a solution to solve it on PHP side?

[2020-06-07 20:55] andrewjmetzger commented on #524
@kamel3d gspread is a Python project, not PHP. Google Docs does provide a PHP API, but it is not supported here.

PHP API documentation: [https://developers.google.com/sheets/api/quickstart/php](https://developers.google.com/sheets/api/quickstart/php)

[2020-06-08 00:07] kamel3d commented on #524
@andrewjmetzger thank you I found a solution shortly after my question is basically by using "USER_ENTERED" instead of "RAW" it is the same for both languages

[2020-06-09 09:34] mahenzon opened #784 "Add service_account from dict"
**Is your feature request related to a problem? Please describe.**
There's an option for loading config from dict, like from file

**Describe the solution you'd like**
There's already `service_account`, I think, we can add something like `service_account_from_dict`
So, `ServiceAccountCredentials.from_service_account_file` is used for `service_account`. And we can create `service_account_from_dict`

[2020-06-09 19:33] burnash commented on #746
Thank you for the PR. Your point regarding `accepted_kwargs` is very convincing. I agree it does not really fit the case for `get_all_records`.

[2020-06-09 20:58] JoeCharlieH commented on #153
Exactly, you can count non-blank cells within a full column with the Google Sheets core functions:

`=COUNTA(A1:A)`

 This is a simple example that counts non-blank cells, but it also counts empty strings "" .

[2020-06-09 23:48] erakli commented on #780
Same problem with `batch_get()` method.

Looks like there could be simple solution. Just add check to [`ValueRange.from_json()`](https://github.com/burnash/gspread/blob/35e0bc5a02773a0a787b37b20df4f37ee951e5ef/gspread/models.py#L51) (more pythonic):

[code]

or simply

[code]

or any other kind of check.

Another question is what to do with `batch_get()` method? Is it acceptable to have bunch of e

[2020-06-10 22:42] sprauerc opened #786 "Feature request: Authentication from Oauth key in memory / oauth_from_dict"
Related to #779

In some environment it's much easier to pass configuration via the environment. Example is a Django app where users export Django data directly to their google drive.

It would just need implementing oauth_from_dict in similar fashion to service_account_from_dict as in #785

[2020-06-11 18:36] brycenesbitt opened #787 "Clarity on setup up API key"
As of this writing, if you run gspread without enabling an API key, the error message returned in the python console directs you to a URL on google's site.
That's handy, because it documents the project ID.

But you end up at this screen:
![image](https://user-images.githubusercontent.com/1294423/84426089-81124d00-abd7-11ea-8b38-9dfd9905efd9.png)

And it's not clear where to go from there.  The ri

[2020-06-15 00:14] enric1994 opened #788 "Get Sheet name and worksheets name"
**Describe the solution you'd like**
I would like a method to get the name of the sheet + names of the tabs based on the ID of the sheet

[2020-06-16 05:30] stcondon commented on #657
any resolution here? I experienced the same issue

[2020-06-26 17:42] BenHagan commented on #135
It looks like gspread can handle formatting as of version 3.3:

https://gspread.readthedocs.io/en/latest/api.html?highlight=.find#gspread.models.Worksheet.format

[2020-06-27 14:50] akashvyom commented on #772
@burnash previous PRs were never merged in conda-forge and newer ones are failing the test because of missing dependencies during the run cycle, I have raised an issue with them for the same
https://github.com/conda-forge/gspread-feedstock/issues/17
this should be a simple fix will update here once this is done

[2020-06-28 13:40] burnash commented on #772
Thank you very much, @akashvyom

[2020-07-02 09:49] LennartOschika opened #792 ".batch_update: Tries writing in wrong column"
So I am trying to optimize my Code and i figured that one of the best ways of reducing API calls was to use the batch_update function on my spreadsheet.

What I am using it for:
I basically have a bunch of topics in my spreadsheet that I want to assign a # to in the column next to it.
So in column b there is some topic let's say and next to it (in column a) I want to just keep track of how many to

[2020-07-05 21:10] erakli commented on #792
I think you could fix it in the following way:

[code]

I suppose that `batch_update()` only works with rows as major dimension.

[2020-07-07 15:27] BenHagan opened #793 "Add Option to add_protected_range That Does Not Include Sheet Editors"
**Is your feature request related to a problem? Please describe.**
I'm having to use batch_update to add a protected range that does not include the sheet editors since add_protected_range adds all editors by default with no ability to override.

**Describe the solution you'd like**
add_protected_range should have an option to specify explicitly which email addresses to add or an option does not a

[2020-07-12 15:03] akashvyom commented on #772
@burnash thank you for agreeing on being a maintainer for the conda forge repo, I will publish all the packages till the latest version which were left out, once done will mark this as resolved.

[2020-07-12 19:33] akashvyom commented on #772
@burnash I have pushed the latest package to anaconda cloud any new releases should automatically be pushed now, I am closing this issue.

[2020-07-12 19:33] #772 closed

[2020-07-13 09:04] #780 closed

[2020-07-13 10:20] #779 closed

[2020-07-13 10:20] #784 closed

[2020-07-13 10:21] burnash commented on #786
Sorry for the late reply. I agree and I'd welcome a PR for this.

[2020-07-13 10:25] burnash commented on #772
Thank you very much for your help!

[2020-07-13 13:21] rathegod1992 commented on #697
Hi @burnash ,

The same issue occurs since 11th of July 2020. The notification is not sent on mail. If this is a google service issue why does it reproduce ?

Regards,
Sergiu.

[2020-07-13 13:51] rathegod1992 commented on #697
Hi @burnash , yes i can elaborate. So, last time when this issue reappeared you said that it was **Most likely an API backend issue.** .

My question is perhaps not a good one. I just want to understand why this issue occurs from time to time and cannot be solved once and for all.

Thank you,
Sergiu.

[2020-07-13 15:46] burnash commented on #697
@rathegod1992 Thank you for clarification. What version of gspread are you currently using? Did you install it from PyPI or GitHub?

[2020-07-13 16:18] rathegod1992 commented on #697
@burnash ,

I have the same versions as in the description of this ticket: i am using python 3.7.1 and gspread library version 3.1.0.
Gspread is installed in my venv through command: pip install gspread==3.1.0
So i guess gspread is taken from git.

Thanks for your support,
Sergiu.

[2020-07-13 18:15] burnash commented on #697
Thank you for elaborating. Yes, I do think that this issue is very likely not related to gspread. Here's why:

1. gspread is simply an API wrapper and does not send email notifications by itself. Here's how it works. When you call `Spreadsheet.share` it [calls](https://github.com/burnash/gspread/blob/aa119dba20ebaed4d7c247a45700826a899991e8/gspread/models.py#L494-L502) `Client.insert_permission`.

[2020-07-14 08:16] rathegod1992 commented on #697
Thank you @burnash for the answer. The notifications started to work again today.

Regards,
Sergiu.

[2020-07-14 09:40] wiffel commented on #22
for those people like me, clear feature is available `worksheet.clear()` :) "https://gspread.readthedocs.io/en/latest/api.html#gspread.models.Worksheet.clear

[2020-07-19 05:01] Aledosim opened #795 "Add search spreadsheet and worksheet feature"
Hello,
I'm enjoying gspread a lot, thanks for the work. Just miss a search feature. Something like the list resource of Google Drive. A shame that this resource isn't present in Spreadsheets api as well.
Thank you very much.

[2020-07-19 06:33] Aledosim commented on #795
Searching at sources I've found this function. It isn't in the docs. Closing this issue.

[2020-07-19 06:33] #795 closed

[2020-07-19 09:49] dhruvv opened #796 "gspread and Matplotlib don't seem to work together"
I have some simple gspread code
`gc = gspread.service_account(filename="D:\\file.json")`
`sh = gc.open("Auction2_SEL")`
`sheet1 = sh.get_worksheet(0)`
`row0 = sheet1.row_values(2)`
`print(row0)`

And this works fine. It prints the data from the Google Sheet

There is some data there that I would like to place in a Matplotlib graph. However, as soon as I try to add the `import matplotlib as plt ` l

[2020-07-20 16:44] manmartgarc commented on #764
Thanks for getting this started. Is there a way to map each method to the number of requests it generates? I am running a super simple script that keeps hitting the 429 limit. Thanks

[2020-07-21 13:42] burnash commented on #796
Thanks for reporting. I'm not convinced that importing matplotlib could influence gspread behavior in any way.
The error tells that somehow you're trying to get range `A0:0` which does not exist. Are you sure that this API error results from calling the code above and not from `sheet1.row_values(0)`?

[2020-07-21 13:47] dhruvv commented on #796
Yeah, it looked like I accidentally named a file in my path `matplotlib.py` and it imported that, which contained the line causing the problem. I'll close this issue now since it's not an issue at all.

[2020-07-21 13:47] #796 closed

[2020-07-21 19:27] #692 closed

[2020-07-28 12:28] AlexeyDmitriev opened #798 "Inserting columns"
I want to insert new columns (between existing columns)

It seems that it's supported by underlying API but not in the provided

I just need inserting empty column, but it's probably makes sense to make the API the same as with insert_row/insert_rows

I'm ready to provide a PR for that if it's fine

[2020-07-28 15:22] AlexeyDmitriev opened #800 "worksheet.get() fails when there's no date instead of returning empty data"
**Important**: Please do not post usage questions here.
To get a quick response, please ask a question on Stack Overflow using `gspread` tag.
See existing questions: https://stackoverflow.com/questions/tagged/gspread

---

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create empty worksheet
2. Call worksheet.get('A1')

[2020-07-28 18:22] burnash commented on #800
Thank you for reporting this. It's fixed in #791. The fix will be on PyPI with the next release (soon).

[2020-07-28 18:34] burnash commented on #798
I'll be happy to get a PR for this. Please call the method `insert_columns()` for consistency. It would be great if the method signature is consistent with `insert_rows()`. I also think that having only one (multi) method should be enough as it can handle both single and multi-column insertions.

[2020-07-29 17:15] gregcron commented on #746
Hi - I think this relates to an issue I'm facing.
If the number in Sheets is 5.45454545, but the display value is only to two decimal places, only 5.45 is returned from get_all_records().
This is causing major issues with an accounting system.  I need to run reports/splits based on all key:value pairs in the row, so only fetching all row values is not an option ; I need to know the other values th

[2020-07-29 22:12] damgad commented on #746
Hey @gregcron, that's exactly the problem that this issue describes. However, the PR https://github.com/burnash/gspread/pull/776 is not yet merged into master. @burnash any updates on this?

For now, I can share with you a monkeypatch that I'm currently using as a workaround. Be carefull as it's rather dummy and will overwrite the render option everywhere. Also, I've tested it with gspread version

[2020-07-29 22:50] gregcron commented on #746
Thanks for that - helpful.  I see what you mean about the risk of it applying everywhere.  Date fields are coming back numerical.  Thanks for sharing regardless!

[2020-07-30 07:55] burnash commented on #746
@damgad sorry, totally forgot to merge it. On it.

[2020-07-31 08:29] stereodamage opened #803 "Spreadsheet has no attribute "batch_update""
**Important**: Please do not post usage questions here.
To get a quick response, please ask a question on Stack Overflow using `gspread` tag.
See existing questions: https://stackoverflow.com/questions/tagged/gspread

---

**Describe the bug**
Python 3.6.9, gspread 3.6.0.
Calling batch_update() on both spreadsheet and worksheet fails with AttributeError

**To Reproduce**
Steps to reproduce the beh

[2020-07-31 08:36] burnash commented on #803
Could you please share the stack trace?

[2020-07-31 08:58] stereodamage commented on #803
Yes, there you go:
![stack trace](https://user-images.githubusercontent.com/22531877/89018826-18b53180-d325-11ea-90ec-786809232846.png)

[2020-07-31 09:08] burnash commented on #803
It's very strange. Could you run `dir` on the `wks` object and paste the result?

[code]

[2020-07-31 09:12] stereodamage commented on #803
Yeah
![Снимок экрана от 2020-07-31 12-10-52](https://user-images.githubusercontent.com/22531877/89020028-eb698300-d326-11ea-8621-78af3d224d83.png)
Facing same strange behaviour with sheet.update()  function - it's just like they were never defined but I can go to reference in package files.

[2020-07-31 09:16] burnash commented on #803
This looks like an older gspread version, it misses a lot of newer methods. Could you output the version number in the same terminal session?

[code]

[2020-07-31 09:19] stereodamage commented on #803
Damn, it is.
`0.6.2`
Sorry for my stupidity.

[2020-07-31 09:19] #803 closed

[2020-07-31 09:26] burnash commented on #803
No problem :)

[2020-08-03 12:43] pandrii000 commented on #460
You can reorder worksheets index with `reorder_worksheets`:
https://gspread.readthedocs.io/en/latest/api.html#gspread.models.Spreadsheet.reorder_worksheets

[2020-08-04 21:56] snusnuz commented on #710
Hello, I'm also interested in having this feature.
Unfortunately I'm a Phyton newbie and I only tried to make some changes to the models.py, with no luck.

Can anybody point me in the right direction in order to find a way to implement sheet.isRowHiddenByUser(row)?

[2020-08-07 23:15] maxgld opened #804 "I can't find index attribute in Worksheet class"
Please, if it possible,
add to Worksheet class function like this:

[code]
I think it be useful.

[2020-08-08 15:19] ScDor opened #805 "Specify destination folder for copy() result"
**Is your feature request related to a problem? Please describe.**
When using copy(), I couldn't set the destination folder (where the copy is saved)

**Describe the solution you'd like**
allowing a specified folder in _copy()_, similar to the way it's done in _create()_.

**Describe alternatives you've considered**
using the google drive API for renaming and moving the file

**Additional context*

[2020-08-11 05:58] Dmdv opened #806 "worksheet.insert_row not updating with a value list"
I tried to find a solution, there weren't any

---

**when I try to insert a row at index = 2 with a range of values it throws an exception**
In docs they say that values should be a value list

![image](https://user-images.githubusercontent.com/805238/89862364-74e34580-dbb0-11ea-90d6-129708da44e5.png)

**Environment info:**
- Operating System Windows:
- Python version = 3.8
- gspread version = th

[2020-08-11 06:00] Dmdv commented on #806
It works only if I insert a single value

[2020-08-13 01:26] TomOnGit commented on #50
I won't be able to implement, but would very much like to be able to add/edit notes and comments via Gspread.

[2020-08-13 11:18] burnash commented on #805
Thank you for the suggestion, the PR is welcome :)
Please use API v3, `create()` already uses it.

[2020-08-17 14:36] bareluz93 commented on #455
any solution found?

[2020-08-19 18:22] mathewrosssmith commented on #387
Hi, I had this same issue at work as I needed to clear a bunch of rows of data, but only based on whether or not I had successfully recorded the data in our local database. Because of the nature of the data (user input), this was fairly common and I needed to avoid using up tons API calls at once so we wouldn't need to upgrade just for an API quota increase (i. e. if every odd row failed, then 200

[2020-08-25 17:06] arjmahadevan commented on #513
This worked for me! Thank you so much @pensebien

[2020-08-26 07:59] lexipenia opened #808 "getallrecords() – can there be a "rows" option to get attributes from rows, not columns?"
**Is your feature request related to a problem? Please describe.**
Sometimes I have to work with spreadsheets that are "rotated 90 degrees" – that is, the creators use the rows to list important attributes, and then every item in the DB is listed in a column. The attributes list would have to be Column A for these sheets, not Row 1.

**Describe the solution you'd like**
An optional argument in get

[2020-08-27 02:54] KarthikRajashekaran commented on #664
once the Secret.json is created, How can I use it via AWS SecretManager instead of the JSON File

[2020-09-02 05:29] grkamarnath opened #810 "Function get_all_records() having issue when we pass head parameter greater than 1"
Suppose i have a google sheet with 3 rows like shown below.

Header1  Header2    Header3
value1      value2       value3
value4     value5       value6

then, we called function get_all_records(head=2), it will return 1 row but keys of the row is not correct.
output:    [{value1:value4, value2:value5, value3:value6}]

Expected/Correct output: [{Header1:value4, Header2:value5, Header3:value6}]

[2020-09-02 06:32] yberezkin commented on #810
In my understanding of documentation for code it is works as it supposes to work.
"""Returns a list of dictionaries, all of them having the contents of
        the spreadsheet with the head row as keys and each of these
        dictionaries holding the contents of subsequent rows of cells as
        values.
”””

What @grkamarnath you are talking about is to skip 1rst row, which logically not a hea

[2020-09-02 10:49] grkamarnath commented on #810
Thank you @yberezkin

I miss understood the head parameter purpose..

[2020-09-02 10:49] #810 closed

[2020-09-02 20:35] Abolfazl commented on #805
I am not sure I follow.. [Create()](https://gspread.readthedocs.io/en/latest/api.html#gspread.Client.create) only requires a `title` and `folder_id` and [Copy()](https://gspread.readthedocs.io/en/latest/api.html#gspread.Client.copy) requires `file_id` and `title`.

What would I have to do to copy a complete worksheet into `folder_id`

[2020-09-04 10:17] ScDor commented on #805
The way i implemented it so far (will push and PR soon) it, there's an extra argument _folder_id_ (default=None) you need to supply.
Your comment reminded me to test the behavior when it's None - my gut says it'll do fine, I'll update.
Thanks

[2020-09-10 22:34] jjorissen52 opened #812 "value_render_option Has No Effect for Hyperlinks"
When trying to use the shown pattern for a cell that contains a hyperlink, the text is returned instead of the formula:
https://github.com/burnash/gspread/blob/c0a5a6d83083c467a647ab91bf1caaa1f829b5c7/tests/test.py#L561

**To Reproduce**
Steps to reproduce the behavior:
1. Have a worksheet with a hyperlink
2. Access it as a cell with `value_render_option="FORMULA"`
3. See content is the text of th

[2020-09-15 10:58] punnerud commented on #452
This worked for me. Can't find it documented:
[code]

[2020-09-15 12:32] fiskhest commented on #703
I have the same use case, but for changing locale. @burnash is there any interest in adding a properties-method for the entire spreadsheet?

[2020-09-15 14:55] fiskhest commented on #703
I managed to work around the issue by using batch_update:

[code]

[2020-09-18 13:25] lordakarias opened #813 "worksheet.update()"
**Important**: Please do not post usage questions here.
To get a quick response, please ask a question on Stack Overflow using `gspread` tag.
See existing questions: https://stackoverflow.com/questions/tagged/gspread

---

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Expected behavior**
A clear and concise d

[2020-09-19 13:31] #813 closed

[2020-09-20 06:40] lordakarias commented on #813
@burnash
s the worksheet.update() method on gspread deprecated? It has been working last week; but couldn't use it these days.

[2020-09-21 13:34] CH-EricLundberg commented on #800
Any update on when this will get released?

[2020-09-22 08:27] h-kouame commented on #793
I am also facing a use case that requires this feature to be implemented.
One way this could be implemented would be to add another parameter to specify whether or not we only want the users specified in the `editor_users_emails` and `editor_groups_emails` to have access to the protected range.
Currently, it assumes that those users should simply be added to the existing editors lists as shown (se

[2020-09-23 18:59] Imperssonator commented on #680
The solution posted above will convert any float-type columns into object-type, which causes problems for downstream numerical use in Sheets (all the numbers will be interpreted as strings). It seems like there needs to be a way for worksheet.update() to automatically leave NaN cells blank, or something.

[2020-09-23 19:28] Imperssonator commented on #680
I found an alternate solution that preserves the numeric data type of numeric columns:

[code]

Probably quite slow if your sheet is large but it works 🤷‍♂️

[2020-09-28 18:31] lavigne958 commented on #50
Hi guys I would be happy to have a look at it. It seems that what is missing is adapting the code snipet above to fit in gpsread then open a PR ?

[2020-09-29 08:58] burnash commented on #50
@lavigne958 It's true. Please feel free to submit a PR

[2020-09-29 15:19] amanda-ruby opened #815 "Intermittent Deprecation Warning on Import in Google App Engine"
**Describe the bug**
Intermittently, import of gspread in a GAE application is producing the following warning: `/env/lib/python3.7/site-packages/gspread/auth.py:38: DeprecationWarning: invalid escape sequence \g """`.  Why it is intermittent is so far unclear.

**To Reproduce**
Steps to reproduce the behavior:
1. Run an application with gspread in GAE.
2. Wait.

**Expected behavior**
No deprecati

[2020-09-30 00:33] kielni opened #816 "sort returns gspread.exceptions.APIError"
Calling sort as described in the docs

    spreadsheet.sheet1.sort((0, "asc"), (2, "des"), range="A2:I10000")

returns an exception instead of sorting the sheet:

    gspread.exceptions.APIError: {'code': 500, 'message': 'Internal error encountered.', 'status': 'INTERNAL'}

It looks like gspread is using the API described here: https://developers.google.com/sheets/api/reference/rest/v4/spreadsheet

[2020-10-01 23:17] arditoibryan opened #817 "AttributeError: module 'gspread' has no attribute 'service_account'"
Hello, I just installed gspread in Google Collaboratory:

`pip install gspread`

Then I tried to run the code following the instructions:

[code]

Thank you

[2020-10-02 01:36] dmd commented on #511
Is there an equivalent workaround for a time?

[2020-10-05 20:46] GreenGhost994 opened #819 "Max retries exceeded. Failed to establish a new connection."
Hello,
I have problem with
`requests.exceptions.ConnectionError: HTTPSConnectionPool(host='sheets.googleapis.com', port=443): Max retries exceeded with url: /v4/spreadsheets/...?includeGridData=false (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000025782533B48>: Failed to establish a new connection: [WinError 10060] Próba połączenia nie powiodła się, poni

[2020-10-06 10:40] nissankarkifm opened #820 "Cannot use default service account in Compute Engine"
I'm trying to figure out how I can use the service account associated with a Compute Engine without the need of a JSON file.  I cant seem to be able to do that in gspread.

Google has an example here: https://cloud.google.com/docs/authentication/production

`   from google.cloud import storage

    # If you don't specify credentials when constructing the client, the
    # client library will look

[2020-10-07 04:23] jayvdb commented on #737
I am still seeing tests failing @burnash , locally and on openSUSE build workers.

[code]

[2020-10-07 18:59] lavigne958 commented on #737
Hi, I had similar issues recently, some tests were failing for some unknown reason.

I noticed the 'record_mode' that says 'once'.
I tried to run the test with the following environment variable set 'GS_RECORD_MODE=all' and runs fine.

I suppose we look into betamax.

[2020-10-08 21:32] lavigne958 opened #821 "Tests cassettes need to be updated"
**Important**: Please do not post usage questions here.
To get a quick response, please ask a question on Stack Overflow using `gspread` tag.
See existing questions: https://stackoverflow.com/questions/tagged/gspread

---

**Describe the bug**
When running the test suite locally there are a lot of tests that end up in an error.

**To Reproduce**
Steps to reproduce the behavior:
1. checkout master

[2020-10-09 02:10] bqback opened #822 "insert_row produces APIError if the selected sheet has ":" in its name"
**Describe the bug**
Trying to insert_row to a sheet with ":" in its name seems to cause the name to be interpreted as a range

**To Reproduce**
Steps to reproduce the behavior:
1. Create a sheet with ":" in its name
2. insert_row() to it

**Expected behavior**
A row with given values is inserted into the sheet

**Code example***
[code]

**Environment info:**
- Operating System: Windows 10
- Pytho

[2020-10-09 10:36] jayvdb commented on #737
`GS_RECORD_MODE=all` creates new fixtures which need to be saved for future use.
https://betamax.readthedocs.io/en/latest/record_modes.html

[2020-10-09 12:40] lavigne958 commented on #737
I opened a new ticket about that 'should we update the cassettes' #821

[2020-10-09 14:22] DatanamixSR commented on #817
I am running into this as well, did you ever solve the issue?

[2020-10-09 17:46] burnash commented on #817
Could you please share the gspread version you're using?

[code]

[2020-10-09 18:11] DatanamixSR commented on #817
can't speak for ardito, but I am on gspread 3.1.0

[2020-10-09 18:14] burnash commented on #817
In this case, you'd need to upgrade gspread, as `service_account()` was added in [3.6.0](https://github.com/burnash/gspread/blob/master/HISTORY.rst#360-2020-04-30)

[2020-10-10 18:24] jjhesk commented on #276
any updates on this?

[2020-10-17 09:13] NicoWithManyO opened #823 "Set formula"
Hello. first big thank you for the job :) I try to insert in a cell instead of values ​​(the same way we do worksheet.update). I'm just starting out and maybe I haven't seen a simple solution? thank you for your possible answers;)

[2020-10-19 19:43] MusafaM commented on #773
@burnash The code on 3.6.0 is quite old now. Would love to get a new release so I can directly pip install rather than using the git commit for this feature.

Thanks :)

[2020-10-20 08:56] #798 closed

[2020-10-20 16:17] ryan-pixel opened #824 "Pivot Table Implementation"
I'm trying to see if it's possible to create a pivot table using gspread. I know that the Google Sheets API v4 can do this with the use of the batchUpdate method with a updateCells request and am trying to see if it's possible with gspread's batch update or update cells, but they seem to be different from one another.

[2020-10-22 11:32] nejko opened #825 "format_cells()?"
**Is your feature request related to a problem? Please describe.**
I am always frustrated when I need to change the background color of many unconnected cells in a sheet, and I have to do as many API calls as the number of colored cells.

**Describe the solution you'd like**
As we have update_cells() to update many cells with a single API call, it would be ideal to have format_cells() to change th

[2020-10-23 12:38] muzahid19dec commented on #448
['Cell',
 'CellNotFound',
 'Client',
 'GSpreadException',
 'IncorrectCellLabel',
 'NoValidUrlKeyFound',
 'Spreadsheet',
 'SpreadsheetNotFound',
 'Worksheet',
 'WorksheetNotFound',
 '__author__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'authorize',
 'client',
 'exceptions',
 'models',
 'urls',
 '

[2020-10-25 14:44] bastienboutonnet opened #826 "Allow `gspread.oauth()` to look for file in another directory"
**Is your feature request related to a problem? Please describe.**
Not really a problem, but I got bitten a bit by it. I used to be using a service account and `service_account` allows users to store google credentials where they want. This is particularly relevant for the flow I have implemented in my CLI tool to import google sheets to SQL databases ([`sheetwork`](https://github.com/bastienbouto

[2020-11-05 21:17] g3blv opened #827 "'Worksheet' object has no attribute 'get' in Colab"
I want to read a range from a Google Sheet using `gspread` in Python in Colab.

This is my code

[code]

It returns the error
[code]

From what I understand from the documentation [get()](https://gspread.readthedocs.io/en/latest/api.html#gspread.models.Worksheet.get) it should be possible to use `get()` on a `worksheet`.

`worksheet.id` and `worksheet.title` returns `id` and `title` as expected.

[2020-11-05 21:24] #827 closed

[2020-11-11 19:40] dfredmen commented on #524
when I try this, I am seeing the following error:

`TypeError: append_row() takes exactly 2 arguments (3 given)`

Any suggestions?

[2020-11-11 20:19] dfredmen commented on #524
@burnash have you come across this at all? I am wondering if anything could have changed since this thread simmered down last and today. Gspread docs still indicate that this should work if I am on 3.6 - https://gspread.readthedocs.io/en/latest/api.html?highlight=insert_row

[2020-11-14 07:24] a-kochkarev opened #828 "append_row() adds row which starts not from first column"
**How to reproduce:**
1. Make worksheet with one row and empty cell:
1 | 2 | <empty_cell> | 3

2. Insert row with:
worksheet.append_row(['a','b','c'])

3. Row was inserted starting from D column:
1 | 2 | <empty_cell> | 3
   |    |                        | a | b | c

**Expected behavior:**
Expected row insertion from first (A) column

**What we get:**
![image](https://user-images.githubusercontent.

[2020-11-14 11:20] bastienboutonnet commented on #826
Hey @burnash I was wondering if you'd be open to this minor feature.

My feeling is that `gspread.oauth()` could take a `filename` that defaults to the `DEFAULT_AUTHORIZED_USER_FILENAME` value but that could be overriden if a user or an app using `gspread` required to dump credentials in other places.

Since your `CONTRIBUTING.md` guidelines stress the fact of needing a greenlight before starting

[2020-11-14 11:39] bastienboutonnet commented on #819
@GreenGhost994 I have ran into this issue a few times in the past, my solution has been to simply apply some retrying to the part of my scripts that interact with the sheet.

I am not sure if it is needed just on the connection acquisition or on all other operations (it's a bit painful to reproduce those rate limitations)

But let's imagine you have something like:

[code]

You could use something

[2020-11-14 11:52] bastienboutonnet commented on #781
@adamcunnington I've suffered from this recently too and ended up doing exactly what you outline in your first bullet. Clean, and recreate. But, of course, the recreate failed and I ended up with an empty sheet so I ended up doing:
1. store data
2. clear the sheet
3. recreate
--if an error was thrown try to recreate the sheet with the stored data from before clearing
4. check the sheet isn't empty

[2020-11-14 16:30] cryobry opened #829 "batch_update() "major_dimension" unexpected keyword argument"
**Describe the bug**
I am trying to use batch_update() method to update two columns of cells. The first column contains a list of golfer names and the second column is their associated winnings. The data is stored in a list of columns (lists) so I would like to use the "major_dimension='COLUMNS'" kwarg in batch_update. Unfortunately batch_update() is not accepting the major_dimension kwarg.

**To

[2020-11-14 17:10] a-kochkarev commented on #826
I faced the same problem when strart to use gspread.  I change default creds location by modifying gspread settings and default function parameters. Not very elegant, but working solution:

`
import gspread.auth as ga
import mysettings as cfg

def changeUserCredsStorage():
    '''
    Workaround to change default creds location for gspread.
    Not needed if service account used.
    '''
    ga.DE

[2020-11-15 08:56] bastienboutonnet commented on #826
@a-kochkarev ah yeah that's a good idea for a workaround! Thanks. Obviously I would still think maybe @burnash would be interested in making `oauth` work similarly to `service_account` so I'll leave this open and see.

[2020-11-15 13:34] bastienboutonnet commented on #826
Ok @a-kochkarev I just tried it and I can confirm that your workaround works. Thanks for this!

[2020-11-18 18:50] joaocasarin opened #830 "open spreadsheet by key/url THEN access worksheet by ID/GID"
Hello, I work with google spreadsheets, and inside them there are A LOT of worksheets (over 500), and sometimes it happens that some of them get the same title name, so the only mean to differ both, is by the GID, provided at the END of the URL like this:

https://docs.google.com/spreadsheets/d/1231SDFS3afer3SDfsdf-34SDFSDgfdsd42/edit#gid=5439787534

where:
1231SDFS3afer3SDfsdf-34SDFSDgfdsd42 ----

[2020-11-18 19:00] joaocasarin commented on #830
@burnash I'm sorry for mentioning you, but any help is appreciated, and this seems urgent for me :(

[2020-11-20 07:52] a-kochkarev commented on #830
Hello! I think it will be nice if _gspread.models.Spreadsheet_ will have method like _worksheet_by_id_

[2020-11-20 07:58] a-kochkarev commented on #830
Hello, @joaocasarin!

Until gspread not provide something like  _worksheet_by_id_ you can get worksheet by id with this sample of code:

[code]

[2020-11-20 12:32] joaocasarin commented on #830
hello @a-kochkarev thanks for the help! Until the gspread devs don't provide such function, yours will fit perfectly! Thanks buddy!

[2020-11-24 22:26] Gitarth commented on #828
[Check this link out ;)](https://github.com/burnash/gspread/issues/537#issuecomment-586622830
)
This may help you resolve the issue. This seems to be a Google Sheets API thing which you can check out at [the google sheets documentation.](https://developers.google.com/sheets/api/guides/values#appending_values)

[2020-12-01 21:57] uniextra opened #831 ".get_all_records() value_render_option not workin"
I'm running the most up to date 3.6.0 gspread traying to read a hole sheet but i need values as strings as my sheed contains string like 23E123123 and this is received as Infinite on python using get_all_records()

I try to add the value_render_option as get_all_records(value_render_option='UNFORMATTED_VALUE') but i get the follwing error

list_of_hashes = sheet_programar.get_all_records(value_ren

[2020-12-04 22:45] niczky12 commented on #820
I'm trying to do the same thing with no luck. I was trying to use `google.auth` like so:

[code]

[2020-12-07 07:16] Askani007 commented on #697
Same problem today +1

[2020-12-07 08:03] neilcalabroso-ms opened #832 "Missing .get_all_values(date_time_render_option='')"
**Is your feature request related to a problem? Please describe.**
I want to use `.get_all_values(value_render_option='UNFORMATTED_VALUE')` to get the actual raw value in my sheet, however, this makes the date in serial format e.g. `2020-01-01` becomes `43831` as per the [API](https://developers.google.com/sheets/api/reference/rest/v4/DateTimeRenderOption).

**Describe the solution you'd like**
I

[2020-12-07 13:26] Muskan-ai commented on #697
I was able to notify others when i shared the spreadsheet until 3 dec 2020. Today I am unable to do it :(
Why is it happening now?

[2020-12-07 13:29] Muskan-ai commented on #777
Hi @burnash  ,

I was able to notify others when i shared the spreadsheet until 3 December 2020. Today I am unable to do it
How can we fix it?

[2020-12-07 13:31] Askani007 commented on #697
Yes Muskan-ai, me too facing with the same error

[2020-12-10 06:18] a-kochkarev commented on #828
@Gitarth, thanks a lot for pointing out to this resolved issue!

[2020-12-10 06:18] #828 closed

[2020-12-10 14:31] gpkc commented on #820
@niczky12 Maybe try the following:

- Check the type of creds: `type(creds)` it must return `google.oauth2.service_account.Credentials`
- Check the service account e-mail: `creds.service_account_email` it must be the service account email you expect
- Check if the spreadsheet is shared with that service account email (I assume that's fine since you mentioned it works with JSON)

If the two first s

[2020-12-11 14:57] niczky12 commented on #820
@gpkc Thanks for getting back to me.

I tried the above, but getting a different type:

[code]

Also tried with `googleapicleint` but getting the same thing:

[code]

This is running in a pod on GKE. The cluster is using the default compute service account. When I use that json key and set `GOOGLE_APPLICATION_CREDENTIALS` then I get the right behaviour:

[code]

But would like to achieve the same

[2020-12-11 21:52] gpkc commented on #820
@niczky12

That is probably the issue. Make sure your cluster is set up using the service account you're thing to use. If you leave the default service account, your pods will inherit it.

In any case you don't have to expose your SA key anywhere too. You can use kubernetes secrets or even GCP secrets manager (but for this one you'd have to give the cluster's service account access to the secret).

[2020-12-14 09:30] niczky12 commented on #820
That same default service account with a json key and setting `GOOGLE_APPLICATION_CREDENTIALS` works fine from the same pod. So there's something else going on.

I know I can add the key as a secret to k8s, but wanted to give this a go and I thought if I can figure out then I could add the steps to docs so that others can start using the application default credentials. Maybe, I'll have a look at

[2020-12-16 21:40] p-doyle opened #833 "Add support for defining Named Ranges"
**Is your feature request related to a problem? Please describe.**
Unable to define named ranges easily using gspread

**Describe the solution you'd like**
The sheets API provides a method for creating, deleting and updating named ranges that seems easily implementable.
 https://developers.google.com/sheets/api/samples/ranges

**Describe alternatives you've considered**
You can do this manually by

[2020-12-21 23:10] erakli opened #834 "New release?"
Hello!

Seems library stacked on old release, while there's many good features were merged.

@burnash when you plan the next release?

[2021-01-04 08:49] yniu opened #837 "pipy version doesn't seem to match Github"
Pip install says version is 3.6.0, but models.py for get_all_records() is missing 'value_render_option' as an argument, which is inconsistent with what's in github.

[2021-01-06 12:55] saad-sifar commented on #817
I found a fix, I had this exact problem and I could not find a solution anywhere, then when I removed a file called secrets.py from my working directory it worked perfectly fine. Make sure that you have no other files with common names in your cwd

[2021-01-08 10:17] nissankarkifm commented on #820
The following worked for me. Issue can be closed.
[code]

[2021-01-08 11:19] niczky12 commented on #820
What compute environment are you using? And what do you get if you run `echo $GOOGLE_APPLICATION_CREDENTIALS` ? I would like to isolate the issue and figure out if this is only affecting kubernetes or not.

[2021-01-08 11:49] nissankarkifm commented on #820
@niczky12  Oops. I spoke too soon it seems. I've updated my comment.
The code ran fine on my local machine so I assumed it'd work on a compute engine as well. I should've tested it. My bad.

When running the same code in a Compute Engine Instance, I get the following error.

`APIError: {'code': 403, 'message': 'Request had insufficient authentication scopes.', 'status': 'PERMISSION_DENIED'}`

[2021-01-08 17:20] nosv1 opened #839 "KeyError: 'values' using batch_get"
**Important**: Please do not post usage questions here.
To get a quick response, please ask a question on Stack Overflow using `gspread` tag.
See existing questions: https://stackoverflow.com/questions/tagged/gspread

---

**Describe the bug**
A clear and concise description of what the bug is.
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Environment info:**
- Operating Syst

[2021-01-08 17:21] nosv1 opened #840 "KeyError: 'values' using batch_get"
**Important**: Please do not post usage questions here.
To get a quick response, please ask a question on Stack Overflow using `gspread` tag.
See existing questions: https://stackoverflow.com/questions/tagged/gspread

---

**Describe the bug**
A clear and concise description of what the bug is.
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Environment info:**
- Operating Syst

[2021-01-08 17:53] nosv1 commented on #840
It appears this only happens when there are no values in a range

[2021-01-09 14:46] snusnuz opened #841 "Can't read file: **AttributeError: '_RSAPrivateKey' object has no attribute 'sign'**"
The same piece of code runs smoothly on another ubuntu VM.
Typing pip3 list on both environments shows the same packages installed (but different versions)

Any help in how to debug it? I'm a beginner.
---------------------------------
[code]
---------------------------------
[code]

Updated: add formating for stack Trace.

[2021-01-10 06:41] aa-dank commented on #826
Would like to reiterate interest in this feature. I had trouble using the authentication in a single script to be used in a google colab notebook and as a standalone.

[2021-01-10 12:14] AirQs opened #842 "insert_col ?"
It's very easy to modify the entire row data with insert_row, however, I couldn't find a way to modify the entire column as easily as "insert_row" does.

It could be good to create a function like "insert_column".

[2021-01-11 22:01] tlhinman commented on #545
Any updates on this? This is a pretty big impediment for us right now.

[2021-01-14 19:36] bastienboutonnet commented on #826
Would be happy to help if this feature fits in the maintainer's vision for sure!

[2021-01-18 07:54] RW21 opened #843 "Generate service account credentials from client email and token only"
**Is your feature request related to a problem? Please describe.**
I want to keep my secrets not as a service key json but as environment variables. It makes secret management easier.

**Describe the solution you'd like**
change `service_account` function to accept `client_email` and `token_url`.
[code]

**Describe alternatives you've considered**
Serialise json to an environement variable. This w

[2021-01-18 08:10] RW21 commented on #843
Ok, nvm it is possible in the latest version.

[2021-01-18 08:10] #843 closed

[2021-01-24 17:03] lavigne958 commented on #842
Hi a function already exists in the laster master branch to do so.
Checkout master branch or commit 52eef450910046a4fdac641aed456dbe986defe3

:wink:

[2021-01-24 17:09] lavigne958 commented on #837
make sens, the parameter you speak about has been added shortly after the release of 3.6.0.

Here is the commit that introduces the option 959613d320ed60502eb7db15ee2934bfd0c51933

Here is the release [link](https://github.com/burnash/gspread/releases/tag/v3.6.0) where you can see that the release is just a couple of month earlier.

[2021-01-24 17:12] lavigne958 commented on #831
You can check ma response to a similar comment [here](https://github.com/burnash/gspread/issues/837#issuecomment-766396007).

[2021-01-29 14:31] Acendro commented on #545
Can't you just bypass the issue with saving row_count into a variable before appending and then incrementing it everytime you append a row during the code afterwards?
Works fine for me at least

[2021-01-31 14:19] erakli commented on #834
@burnash please, take a look here

[2021-02-08 12:02] abubelinha commented on #455
@burnash I am also hitting this error.
I googled for it, but I doubt this is related to failing dependencies (at least in my case, cffi is imported with no errors)

I found this [Python forum](https://python-forum.io/Thread-Write-object-to-file) to be more relevant to the case.
Perhaps you could analyze if the following is possible in the case of gspread ... or what would be the best way to try it

[2021-02-08 12:36] abubelinha opened #846 "how to work over cached versions of Gsheet files (even offline)?"
**Is your feature request related to a problem? Please describe.**
I need to handle lots of google sheets from different providers, to backup data from certain columns to a database.
Each time I am testing my code (which should go across all these different files) I want to avoid sending unnecessary http requests to Google. All those data could be already in my computer, I guess.
So I could make c

[2021-02-09 21:25] mustafa89 commented on #834
Please :pray: , new release. @burnash

[2021-02-13 23:22] erakli commented on #840
fixed in https://github.com/burnash/gspread/pull/791, need fresh release @burnash

[2021-02-13 23:22] erakli commented on #839
fixed in #791, need fresh release @burnash

[2021-02-14 12:20] abubelinha commented on #826
I also agree this would be very useful.
I have some scripts I use in different computers and I do not want leave my google user credentials stored in each of them.

Porting scripts + credentials files in my usb disk is much more convenient.

[2021-02-14 20:33] abubelinha commented on #826
Thanks a lot @akochkarev for your workaround.
I also agree with @bastienboutonnet that allowing `gspread.oaut()` to take filename arguments is a must (not only for `DEFAULT_CREDENTIALS_FILENAME`, but also for taking control of where `DEFAULT_AUTHORIZED_USER_FILENAME` will be stored).
I hope @burnash agrees with us.

My use case:

Like @aa-dank I have some scripts I use in different computers (some

[2021-02-14 21:51] abubelinha commented on #826
Thanks a lot @akochkarev for your workaround.
I also agree with @bastienboutonnet that allowing `gspread.oaut()` to take filename arguments is a must (not only for `DEFAULT_CREDENTIALS_FILENAME`, but also for taking control of where `DEFAULT_AUTHORIZED_USER_FILENAME` will be stored).

My use case:

Like @aa-dank I have some scripts I use in different computers (some of them shared with other peopl

[2021-02-15 11:52] marius-ne commented on #718
This worked for me as well! Had the same issue as OP while running on PythonAnywhere.

[2021-02-17 14:22] burnash commented on #839
@erakli thanks for the reminder. On it.

[2021-02-17 18:27] #50 closed

[2021-02-18 09:18] burnash commented on #842
The method is now available in the release 3.7.0. Please upgrade to the latest version.
Documentation: [Worksheet.insert_cols()](https://gspread.readthedocs.io/en/latest/api.html#gspread.models.Worksheet.insert_cols)

[2021-02-18 09:18] #842 closed

[2021-02-18 09:21] burnash commented on #839
The 3.7.0 version is out. Please upgrade gspread.

[2021-02-18 09:21] #839 closed

[2021-02-18 09:21] burnash commented on #840
Duplicate #839

[2021-02-18 09:21] #840 closed

[2021-02-18 09:24] burnash commented on #837
@lavigne958 is right. The update wasn't released. 3.7.0 is out now. Please upgrade gspread.

[2021-02-18 09:24] #837 closed

[2021-02-18 09:25] burnash commented on #834
Done :)
Thanks for the reminder.

[2021-02-18 09:25] #834 closed

[2021-02-18 09:31] burnash commented on #826
Hey @bastienboutonnet. Sorry for the slow response. Yes, I'm open to this feature.

[2021-02-19 06:46] bastienboutonnet commented on #826
@burnash awesome! I'll have a look over the weekend :)

[2021-02-20 08:46] bastienboutonnet commented on #826
@burnash I had a go at this in this PR: https://github.com/burnash/gspread/pull/847 let me know if you have any comments

[2021-03-01 00:00] marcusbeckerman opened #849 "Feature Request: get_note()"
There is a a clear_note() method, and insert_note() method, and an update_note() method, but there doesn't seem to be a method to get the note of a cell(s). Can this be added?

[2021-03-03 23:16] olt96asc commented on #829
having the same issue.
Looking at the batch update code, the major_dimension argument is neither accepted nor used.
this is either a mistake in the documentation or the code

[2021-03-04 00:18] isaacaudet opened #850 "delete_rows, delete_dimension does not remove the right indexes."
I am trying to delete unused rows in a template. However I need to keep the last 20 lines in the sheet. I have tried using delete_rows, as well as looping through indexes in reverse order. It seems when I delete rows it messes up the indexes, and ends up deleting much more than intended. Any way around this? Don't have time to provide my code right now but I could upload the excerpt if someone wou

[2021-03-05 22:08] isaacaudet commented on #850
`    worksheet.delete_rows(index, index + end_index)
          row = worksheet.row_values(index)
          print(row)
          if row == ['', '#N/A', '-', '#N/A', '#N/A', '#N/A', '#N/A', '', '#N/A', '#N/A', '', '#N/A', '#N/A', '#N/A']:
              worksheet.delete_rows(index) `

[2021-03-05 22:10] isaacaudet commented on #850
With that line of code I check if the row is the value I want to delete because the indexes are inconsistent, however it deletes two rows at that index. But only in one of my spreadsheets. The rows aren't combined. It seems tied to even vs odd staring index, unsure though.

[2021-03-06 00:34] naterattner commented on #680
For what it's worth, I got this same error due to having infinite values in my dataframe. Replacing those with 'NaN' values and then filling those 'NaN' values with empty strings, as suggested above, did the trick:

[code]

[2021-03-07 18:16] scepeda78 commented on #714
raise APIError(response)
gspread.exceptions.APIError: {'code': 500, 'message': 'Internal error encountered.', 'status': 'INTERNAL'} I've got the same error ...

[2021-03-12 10:20] punnerud commented on #805
I created a pull request to fix this. Have tested it with folder_id, None, random values etc.
The code is based on way create() add parent folder, but had to add some changes to the way parents is added to payload (ref. id).

For me it is an important feature because it enable the use of templates.

[2021-03-14 06:37] vikrant-pune commented on #525
Maybe this is too old,

but while trying to use this I'm getting error as .
`TypeError: string indices must be integers`
with stack tace as
[code]
 uploaded = d2g.upload(df, spreadsheet_key, wks_name, credentials=creds, row_names=False)
 uploaded.batch_update(body)`

 where uploaded is of type `<class 'gspread.models.Worksheet'>`

[2021-03-15 09:19] VerusK commented on #816
don't know why but w/o `range` arg sorting works

[2021-03-15 14:58] jacquespeeters commented on #714
Same since 13/03/2021 ...

[2021-03-17 06:25] burnash commented on #513
For example, gspread uses drive to open a spreadsheet by its title. See [client.py](https://github.com/burnash/gspread/blob/master/gspread/client.py) for other examples.

[2021-03-17 09:16] sp-luciano-chinke commented on #513
Ok! I see now that i can instantiate the Client with my custom credentials scopes. I'll give it a try whenever I can. Thanks!

[2021-03-17 12:20] #678 closed

[2021-03-17 12:20] #805 closed

[2021-03-20 07:31] shivavelingker commented on #824
@ryan-pixel did you figure a workaround out? This is a feature I need as well

[2021-03-21 22:08] jpsanr commented on #827
Hello, I'm facing the same issue. Did you manage to fix it?

[2021-03-24 07:19] jatsad opened #852 "GSpread pulling back information from original spreadsheet, not copied one"
Hi,

I have a situation where I was successfully pulling information from spreadsheet FY21 XXXX.
Spreadsheet FY21 XXXX was copied to spreadsheet FY22 XXXX.
Trying to pull information from FY22 XXXX returns information from FY21 XXXX.

I am using the Python DE Pycharm which allows step by step debugging.

The code is shown below:

    spreadsheet_url = "https://docs.google.com/spreadsheets/d/187Qf-

[2021-03-24 19:26] ryan-pixel opened #853 "No insert_cols in 3.7"
For whatever reason, I am unable to find the Worksheet insert_cols function in gspread's 3.7.0 version. I've updated the package and even when I go through the various functions via the autocomplete function for the worksheet model I cannot find the function.

[2021-03-25 18:36] sikandarkhan84 opened #854 "On update provide an api to save current google sheet version name. This is new feature helps to tracking csv/spreadsheet version control. Allow to download sheet based on version history name."
Adding of new api for saving new version history name on update of sheet.
Allowing access to sheet based on version history name.

[2021-03-25 21:18] #854 closed

[2021-03-25 21:21] burnash commented on #854
Sorry it does not make sense.

[2021-03-25 21:23] burnash commented on #853
I suggest double checking gspread version. E.g. `print(gspread __version__)` somewhere in the code you're using.

[2021-03-25 21:25] burnash commented on #849
Open for a PR

[2021-03-25 21:29] burnash commented on #825
[gspread offers only basic formatting](https://gspread.readthedocs.io/en/latest/user-guide.html#formatting). For anything complex please check [gspread-formatting](https://github.com/robin900/gspread-formatting).

[2021-03-25 21:29] #825 closed

[2021-03-26 07:18] water-ghosts commented on #849
I've created a PR for this feature, added test cases, and confirmed that the test suite runs successfully.

This is my first time contributing to this project, so let me know if there are additional steps I'm missing, or if you'd prefer I step aside and let someone more experienced handle this request 🙂

[2021-03-26 22:34] justinaugust commented on #697
I am unable to turn off notification emails now.
`
        permission = google_sh.InsertPermission({
                        'sendNotificationEmails' : 'False',
                        'type': 'user',
                        'value': 'MYEMAIL',
                        'role': 'writer'
                        })`

                        Any insight?

[2021-03-31 05:41] jatsad commented on #852
Anyone?

[2021-04-01 11:47] rahul-soshte commented on #817
Don't name any of your files inside your directory as gspread.py. I had named the same thing and it was giving me an error. I changed the name to something else and it worked.

[2021-04-01 11:55] JonB451 commented on #710
Is the question here:

Can gspread recognise which rows are HiddenByUser?

[2021-04-01 19:58] burnash commented on #817
@rahul-soshte Thank you for the update. I believe this should resolve the issue.

[2021-04-01 19:58] #817 closed

[2021-04-02 09:11] Im-flying-sparrow opened #858 "I want sort tab in google sheet"
![bvncvbnvbcnvbxn](https://user-images.githubusercontent.com/77090086/113401824-ffe2ab80-93de-11eb-9b66-1ddc14b44fba.PNG)

I have searched a lot of time but couldn't find any information about this feature.
I want sort tab in google sheet  by tab name

[2021-04-02 09:15] burnash commented on #858
The best way to get an answer to a question is to ask on [Stack Overflow with a gspread tag](http://stackoverflow.com/questions/tagged/gspread?sort=votes&pageSize=50).

[2021-04-02 09:15] #858 closed

[2021-04-05 12:52] khoroshyy opened #859 "Check if workbook already exists."
Hi.
Is there a way to check if the workbook exists already on my google drive?

I have a script that creates a spreadsheet and saves results in it.

_gc.create(title) # line which creates a workbook._

But, if I rerun this script later on, it creates a second workbook with the same name.

Is it possible to check the existence of a workbook on google drive in some way or set it to rewrite the exist

[2021-04-05 14:06] burnash commented on #859
The best way to get an answer to a question is to ask on [Stack Overflow with a gspread tag](http://stackoverflow.com/questions/tagged/gspread?sort=votes&pageSize=50).

[2021-04-05 14:06] #859 closed

[2021-04-06 08:25] jatsad commented on #852
Is anyone going to comment?

[2021-04-08 08:34] #849 closed

[2021-04-14 08:03] ruchit2801 commented on #641
Has anyone submitted a PR for this? If not, can I work on it and send a PR?

[2021-04-14 08:42] burnash commented on #641
@ruchit2801 as far as I know, there's no PR for this. If you're interested, please go ahead.

[2021-04-16 17:34] malachibazar commented on #826
Any updates on the PR? I would love this feature.

[2021-04-17 08:17] abubelinha commented on #755
Thanks @burnash & @JoachimKoenigslieb
I was looking for this functionality which I understand is already working.
Looking to the pull title "added duplicate_to", I understand there is now a [new function called `duplicate_to`](https://github.com/burnash/gspread/pull/758/commits/54e3165c5d40af37b5f7ee2303b4d43b1e0b81a9), but I don't know where I can see an usage example to learn its syntax.
[Search

[2021-04-17 11:31] abubelinha opened #861 "hide / unhide worksheets"
**Is your feature request related to a problem? Please describe.**
I have a shared google sheet file with 8 worksheets.
I need to keep regular backup copies of the one of them, called "mainSheet", and I need to keep all of them in the same file.
I use to duplicate the worksheet and change the name of the copy to "mainSheet-backup-"+dateTimeString
I automate this using Python and Gspread.
The probl

[2021-04-17 13:21] bastienboutonnet commented on #826
I believe when @burnash gets around to giving another look at the PR it should be good as all the changes they asked for have been implemented.

[2021-04-17 14:15] abubelinha commented on #861
I can confirm the above code [from Desmond Lua](https://code.luasoftware.com/about/) works perfectly.
Perhaps there could be a more direct way of doing it in gspread, but this works:

[code]

[2021-04-19 07:43] #861 closed

[2021-04-20 10:11] JoachimKoenigslieb commented on #755
I think it is!

On Sat, 17 Apr 2021 at 10:17, abubelinha ***@***.***> wrote:

[2021-04-27 04:47] philipperemy commented on #387
[code]
worked for me.

[2021-04-27 09:39] Targolo opened #862 "The function insert_row() ignores the value_input_option parameter and forces it to RAW"
Hi,

**Steps to reproduce the behavior:**
    mysheet.insert_row(['=HYPERLINK("https://www.google.com","Google")'], value_input_option='USER_ENTERED')

**Expected behavior:**
   the cell content is a link to Google

**Current behavior:**
   the cell content is (with the ' at the beginning)
   `'=HYPERLINK("https://www.google.com","Google")`

We can clearly see in the code, in models.py, that inser

[2021-04-28 14:10] moonzlo opened #863 "Cloning existing tables"
I couldn't find any mention of this feature in the official google sheet documentation, but I can't believe that this task didn't occur to others. I need to copy a formatted table (template), and build more than a hundred other related tables based on it. To do this manually, as you understand, is simply useless, and I do not understand how to automate this process. Tell me how you can do this?

[2021-04-28 14:56] #863 closed

[2021-04-28 14:56] moonzlo commented on #863
I'm sorry, I didn't immediately notice that this method was implemented. From the bottom of my heart, I express my gratitude to the one who made it.

[2021-04-29 05:54] moonzlo commented on #862
To work with formulas, you need to use the method .update_acell

[2021-04-29 12:10] Targolo commented on #862
Hi,
You mean the _value_input_option_ parameter in insert_row() is useless?

The unique goal of this parameter is to work with formulas, so can you please tell me where it is written that I need to use update_acell(), and how to tell this function that the value is a formula since it does not have the _value_input_option_ parameter?

Thanks

[2021-05-02 20:30] lavigne958 commented on #97
this issue sould be closed right @burnash ?

[2021-05-03 08:50] burnash commented on #97
@lavigne958 exactly, thanks for the reminder

[2021-05-03 08:50] #97 closed

[2021-05-03 09:19] yohayonyon commented on #778
Was there any progress? I need this feature as well...

[2021-05-03 09:31] burnash commented on #778
@yohayonyon could you please check if solution in #756 works for you?

[2021-05-03 16:56] yohayonyon commented on #778
Hi @burnash

It didn't. I had to add a usage f the parameter supportsAllDrives to the method Create.
I will create a PR.

[2021-05-03 17:06] burnash commented on #97
@lavigne958 would you be interested in joining gspread as a co-maintainer?

[2021-05-03 22:09] lavigne958 commented on #132
I confirm this, the gspread lib does not handle number if they contain a comma to separate digits every thousands.

I might have a solution that fix some cases, but not all as GoogleSpreadSheet offer too many types and custom types.
But covering this type could help quiet a few of us.

something like that:
https://github.com/burnash/gspread/blob/810183bd5d4d441e9f4d797114d3f49b80939969/gspread/mod

[2021-05-04 07:49] lavigne958 commented on #97
yes thanks that would be great, thanks :-) is you e-mail in the commit up to date ? to speak about it ?

[2021-05-04 08:17] burnash commented on #97
Yes, it is.

[2021-05-04 15:18] sam-watkins-sr opened #867 "import_csv: UnicodeEncodeError: 'latin-1' codec can't encode character"
**Describe the bug**
The `import_csv` function fails with unicode input.

**To Reproduce**
Steps to reproduce the behavior:
`python3.9 -c 'import gspread; gspread.oauth().import_csv("Test", "—")'`

**Expected behavior**
It should import the UTF-8 CSV file without error.

**Code example***
As above.

**Screenshots**
N/A

**Environment info:**
- Operating System: Debian 11 bullseye
- Python version:

[2021-05-04 15:22] moonzlo commented on #862
Hi @Targolo

the fact is that due to the fact that this is an open source project, its documentation is far from perfect, but the developers have worked very hard, and provided the code with excellent documentation inside the library. All you need is to open the[ file](https://github.com/burnash/gspread/blob/810183bd5d4d441e9f4d797114d3f49b80939969/gspread/models.py) and read the docstring that wa

[2021-05-04 16:48] #826 closed

[2021-05-05 19:09] lavigne958 commented on #145
Tested it on latest version of gspread. Works fine. Access a spreadsheet using the link with only acces "Anyone with the link" and edit access, could edit the spread sheet and get the values. Changed to "viewer only" could not edit the value anymore.

Closing this issue.

[2021-05-05 19:09] #145 closed

[2021-05-05 19:11] lavigne958 commented on #175
Like for #145 , tested it and it works now. Closing this issue.

[2021-05-05 19:11] #175 closed

[2021-05-06 06:58] lavigne958 commented on #322
Unfortunately can't test this scenario easily, no update for many years, closing this issue. If it is still not working let me know here we will investigate.

[2021-05-06 06:58] #322 closed

[2021-05-06 07:04] lavigne958 commented on #315
This has been done. We now have a step that start with: "Very important! Go to your spreadsheet and share it with a client_email from the step above."

Which emphasize the fact that you must share it with the client email generated just above.

Closing this issue.

[2021-05-06 07:04] #315 closed

[2021-05-06 07:13] #328 closed

[2021-05-06 07:18] lavigne958 commented on #358
Hi, having generators on spreadsheets when reading cells and not load everything in memory will implie doing more API calls. It has been reported multiple times that the API limits are a strong restrictions for most users. Gspread tends to do less API call then the opposite to prevent reaching the threshold.

One could say that it depends on the use case and some options could be introduced like "

[2021-05-07 12:32] lavigne958 commented on #432
Hi @alekaizer I know it has been a while since you post your fix, would like to open a PR to introduce your fix and offer case insensitive search ?

If not I can do it, but may be you want to participate to the project and be part of the contributors list :-)

If you do I'll get your PR merged once it passes the reviews.

[2021-05-07 12:34] lavigne958 commented on #433
Old version of `requests` lib, old version of Ubuntu, related to python2, closing this issue.

[2021-05-07 12:34] #433 closed

[2021-05-07 13:54] lavigne958 commented on #440
this issue should be resolved by #522 which will fetch all spreadsheets (within your quota of operations per seconds).

Closing this issue.

[2021-05-07 13:54] #440 closed

[2021-05-07 19:54] #441 closed

[2021-05-07 19:59] lavigne958 commented on #466
Hi @dgilman  thank you very much for you work, I'll look into it, that might be something of interest for sure ! thanks again.

[2021-05-07 20:13] lavigne958 commented on #497
Old issue, no response from the owner of the issue. Closing this issue.
@Vincent-Maladiere  if this issue is still going for you let us know I will re-open the issue and look at it if needed.

[2021-05-07 20:17] lavigne958 commented on #495
Hi @yurayakimenko , accessing public sheets works on the latest version of gspread. It works using public link 'Anyone with the link can (edit|view)'. depending on the setting you can either edit the sheet if the link authorize you so or only view it.

If you need any help with gspread check back on [stackOverflow](http://stackoverflow.com/questions/tagged/gspread?sort=votes&pageSize=50) with late

[2021-05-07 20:17] #495 closed

[2021-05-07 20:20] lavigne958 commented on #521
Very old version of gspread, new releases have been released, that could be a one time network error or a corrupted package on repository or corrupted flash memory card on you raspberryPi.

Just tried it on a computer and it works well with latest version.

If you still encounter this issue please let us know we'll look at it

Closing this issue.

[2021-05-07 20:20] #521 closed

[2021-05-07 20:57] lavigne958 commented on #524
This is getting off-topic, The original issue has been resolved.

@dfredmen please open a new issue with content related to your problem and we'll solve it from there.
Your link points toward the latest release of the doc, so looking at it right now show the function `append_row` with 1 mandatory argument and your example seem to match the documentation (needs to be checked in the source code and

[2021-05-07 20:57] #524 closed

[2021-05-07 21:10] lavigne958 commented on #550
@maximevast I am not too sure this range works, I need to double check.

If the application crashes could you please open a new issue with a code snippet that you use and produce the crash and we'll look at it from there please ?

[2021-05-08 07:57] lavigne958 commented on #473
Hi @dave-epstein in the latest version of gspread you'll find a method in the object `Worksheet` `get_all_values(range_name="whatever")` which will return all values in the named range "whatever".

Hope this solves your issue.

Closing this issue.

[2021-05-08 07:57] #473 closed

[2021-05-08 19:06] lavigne958 commented on #504
Hi @Rodrigoaz7, if you look at the following link, the error "#NAME" happens Chen your formula is not correct. See here error number 5 [errors list](https://infoinspired.com/google-docs/spreadsheet/different-error-types-in-google-sheets/)

In your cas this is strange because you can see the values when opening your spreadsheet in a web browser.

Could provide some details, the exact formula you us

[2021-05-08 19:35] lavigne958 commented on #520
This is an old issue, no response from issue owner, considered solved or not up to date with latest release.

@Kirkman if you still encounter this issue, please let us know here so we can investigate with a more recent version of gspread.

Closing this issue.

[2021-05-08 19:35] #520 closed

[2021-05-09 06:39] lavigne958 commented on #525
Hi @andrewgross, this is definitely something that can be done with gspread. You can do it yourself like mentioned by @alugowski but a helper function in the`Worksheet` object could be nice.

Hi @vikrant-pune, we you mention is a different issue and is getting off-topic. Please open a new issue with you message, backtrack and you code snippet and we'll help you from there. Thank you.

[2021-05-09 06:52] lavigne958 commented on #841
Hi could you please double check the service Account file you are using? Make sure it is the right one, and you script has access to it (the script is allowed to read the file content).

You mentioned 2 différents version of gspread, could please print both version number here for reference?

[2021-05-12 20:08] alekaizer commented on #432
Hey Lavigne958 I thought I replied to you.
I'll open a PR ASAP this weekend

On Fri, May 7, 2021 at 2:32 PM Lavigne958 ***@***.***> wrote:

--
Cossi Achille AROUKO

[2021-05-13 20:42] #132 closed

[2021-05-14 08:11] lavigne958 commented on #138
Gspread -> Pandans is covered in the documentation: [Examples](https://docs.gspread.org/en/latest/user-guide.html#using-gspread-with-pandas)
Pandas -> Gspread is not intended to be covered here but it is using the following libraries: [gspread-pandas](https://github.com/aiguofer/gspread-pandas) && [gspread-dataframe](https://github.com/robin900/gspread-dataframe)

Closing this issue.

[2021-05-14 08:11] #138 closed

[2021-05-14 08:23] lavigne958 commented on #198
This is already solved in latest version of Gspread. One cas use `get('MyRange')` or `get_values('MyRange')` in order to access a named range.

Closing this issue.

[2021-05-14 08:23] #198 closed

[2021-05-14 08:32] lavigne958 commented on #432
great thank you ! :smiley:

It would be nice if you can make it as a parameter. The behavior should be as follow:
- if `True` the function will do a _case sensitive_ comparison
- if `False` the function will do a _case **in**sensitive_ comparison
- if not set then default is `False` -> case insensitive

This should suit most of the users, as most of the time (i suppose) users want to find a string

[2021-05-14 08:38] lavigne958 commented on #830
This is a duplicate issue (see #271 ) and will be closed soon by #857 .

Sorry for the delay, thank you very much @akochkarev for the quick workaround.

As a duplicate, closing this issue.

[2021-05-14 08:38] #830 closed

[2021-05-14 08:50] lavigne958 commented on #280
This issue as been resolved, Thank you @Ralithune  for the follow-up.

Gspread now uses [AuthorizedSession](https://google-auth.readthedocs.io/en/latest/reference/google.auth.transport.requests.html#google.auth.transport.requests.AuthorizedSession) which derives from `requests.sessions.Session`.

closing this issue.

[2021-05-14 08:50] #280 closed

[2021-05-14 08:53] lavigne958 commented on #294
Hi @eranmaoz44 I will look into it. The google drive API has now been integrated to Gspread (in order to create/share/delete spreadSheets). It might be possible now to access older revision of a spreadSheet.

[2021-05-14 09:02] eranmaoz44 commented on #294
Great news!

On Fri, May 14, 2021, 11:54 AM Lavigne958 ***@***.***> wrote:

[2021-05-14 09:11] lavigne958 commented on #294
Hi I found the documentation in GoogleAPI about revisions. [Here](https://developers.google.com/drive/api/v3/reference/revisions#resource) but I can't quiet understand how to use it.
It offers to:
- list all revisions
- get a specific revision metadata
- delete a revision
- Update a revision

- List: I get it, one can list all revisions and check different things, good enough.
- Get: you can only

[2021-05-14 17:16] MikeSingularity commented on #862
@moonzlo The user @Targolo is attempting to insert rather than update cells and he is correct - there is a bug in the code, exactly as he has described.  I discovered exactly the same issue myself and came to make a bug report about it.

@Targolo as you've probably already discovered from examining the code, you can call insert_rows (wrapping your row in a list) instead and it will accept the valu

[2021-05-15 12:08] eranmaoz44 commented on #294
Hey @lavigne958,

I think that use-case that was missing at the time / not working was the get_revision_content method. It required an extra authentication step (even though already authenticated via o2auth with the relevant resources) that required you to login again to your google account, or that it didn't work entirely. I can't fully remember since it was almost two years ago and now things ma

[2021-05-15 18:05] lavigne958 commented on #294
Thank you very much for this.

I agree what is useful is: getting a spreadSheet at a certain point in time. Computing a delta will come once we do the previous action.

Sobfar it looks like something quiet complicated to do and other issues are waiting and PRs too.
I don't have much time to UT into it but if someone is willing to do so I'll be happy to review it and help design it.

Until then the

[2021-05-15 21:44] lavigne958 commented on #359
This is not the case anymore. Did a test:
- create a spreadSheet with new name "Test1" => :heavy_check_mark:
- run the script again and create a spreadSheet with the same name => :heavy_check_mark:

this is due to the following rule in Google API: "he name of the file. This is not necessarily unique within a folder." [here](https://developers.google.com/drive/api/v3/reference/files/create#request-

[2021-05-16 06:56] lavigne958 commented on #332
Found the following documentation on Google Api [Drive API file list](https://developers.google.com/drive/api/v3/reference/files#resource) , it is possible to get the creation date. I will check it in details soon.

[2021-05-16 07:11] lavigne958 opened #870 "Prevent creation of duplicated names"
### current behavior

When creating a spreadsheet, Google API does not block when an other Spreadsheet exists with the same name. It will create a second one with the same name.

### Possible improvement

Add an option on method `create` that will first check if a spreadsheet with the name exists before creating a new one.

This could prevent creating a spreadsheet with a name, loosing it's ID the

[2021-05-16 07:12] lavigne958 commented on #870
Relates to #359

[2021-05-16 08:21] lavigne958 opened #871 "Split models.py"
### Overview

The file [models.py](https://github.com/burnash/gspread/blob/master/gspread/models.py) is getting very big.
split it into multiple files, one for each class

### Details

With time the file [models.py](https://github.com/burnash/gspread/blob/master/gspread/models.py) grew, it is now too big.
It holds multiple classes and make it very inconvenient to access and search for a specific m

[2021-05-16 11:25] lavigne958 commented on #332
@mdmadhu I found a way to get the creation and last update time when opening a spreadsheet.

See linked PR for details.

[2021-05-17 12:15] lavigne958 commented on #862
closed by #873

[2021-05-17 12:16] #862 closed

[2021-05-17 12:50] cclauss opened #874 "Can we drop support for Python 2?"
**Is your feature request related to a problem? Please describe.**
Can we drop [support for legacy Python](https://github.com/burnash/gspread/blob/master/setup.py#L50-L54) which died 500+ days ago?

Also, is the [development state still alpha](https://github.com/burnash/gspread/blob/master/setup.py#L61)?

**Describe the solution you'd like**
A clear and concise description of what you want to happ

[2021-05-17 14:53] lavigne958 commented on #874
Hi yes we will, a PR was open some time ago #733  and I tried to contact the owner of the PR if he/she can rebase it and refresh it.
I will wait 15 days (due date is 19th of may) and if no response then I will do it myself.

About the alpha state, I think not but this should be answered by the owner of this repository.

@burnash we should update the `Development Status` field to reflect the releas

[2021-05-17 15:01] lavigne958 commented on #359
Using new GoogleAPI this is not relevant anymore.

Closing this issue.

[2021-05-17 15:01] #359 closed

[2021-05-17 16:05] lavigne958 commented on #365
Hi this is not how gspread is architectured unfortunately. the function you mention is used to access different kind of ranges: using A1 notation, or using indexes or named ranges.

What could be done here is create a new function in a `SpreadSheet` object to access **only** named ranges as they are SpreadSheet wide and not tight to a particular sheet.

[2021-05-17 16:17] lavigne958 opened #876 "Access named ranges from a spreadSheet not from a sheet."
**Is your feature request related to a problem? Please describe.**
NamedRanges are not tight to a particular sheet object, one could create a function that returns a list of `Cell` objects
obtained from only a given namedRange access via an instance of `SpreadSheet` without having to first get any `WorkSheet`.

**Describe the solution you'd like**
Create a new function (likely named `namedRange`)

[2021-05-17 16:18] lavigne958 commented on #365
Closing this issue in favor of #876

[2021-05-17 16:18] #365 closed

[2021-05-17 16:21] lavigne958 commented on #375
as mentioned in #384 this has been fixed.

Closing this issue.

[2021-05-17 16:21] #375 closed

[2021-05-17 16:25] lavigne958 commented on #376
This is now solved, one can use the following methods to clear the content of a cell: `batch_update`, `update`, `update_cells`.

closing this issue.

[2021-05-17 16:25] #376 closed

[2021-05-17 16:33] lavigne958 commented on #387
Back to original question one can now use the following method to clear a `WorkSheet` content: `.clear()`.

Thank you @mathewrosssmith I will open a new PR with your proposal code snippet unless you prefer to do it and be a contributor of this project :slightly_smiling_face:

[2021-05-17 16:41] lavigne958 commented on #403
This is now implemented, one car get a range of `Cell`s, work with their values, then push an update of the cells at once.

Closing this issue.

[2021-05-17 16:41] #403 closed

[2021-05-17 16:44] lavigne958 commented on #449
Documentation has been update, their is no `gid` attribute anymore in a `WorkSheet` object, one can use the attribute `id` instead that will return the id of a `WorkSheet` object.

Closing this issue.

[2021-05-17 16:44] #449 closed

[2021-05-17 21:58] lavigne958 commented on #451
This can be solved using the following code:
[code]

The only mandatory action here is to use any function that will first fetch the file metadata which could be one of (this is not the complete list)
- `Client.open(title="MySpreadSheet")`
- `SpreadSheet.title()`
- `SpreadSheet.get_worksheet(0)`
- `SpreadSheet.worksheets()`
- `SpreadSheet.worksheet("Sheet1")`
or the actual function
- `SpreadSheet.

[2021-05-17 21:58] #451 closed

[2021-05-17 22:03] lavigne958 commented on #457
Hi the API provides a property for each sheet it is hidden or not, you can see [API V4 reference](https://developers.google.com/sheets/api/reference/rest/v4/spreadsheets/sheets#sheetproperties).

One could implement a new PR to get that property when requesting to open a new Spreadsheet.

[2021-05-17 22:05] lavigne958 commented on #463
This is now correctly documented. See here in [GSpread doc](https://docs.gspread.org/en/latest/oauth2.html)

Closing this issue.

[2021-05-17 22:05] #463 closed

[2021-05-17 22:11] lavigne958 commented on #525
In order to add conditional formating, one could make a new PR and introduce this feature. This can be done using other requests as example and using the following documentation:

https://developers.google.com/sheets/api/reference/rest/v4/spreadsheets/request#addconditionalformatrulerequest

[2021-05-18 10:23] lavigne958 commented on #485
This is done, in #802

closing this issue.

[2021-05-18 10:23] #485 closed

[2021-05-18 10:47] lavigne958 commented on #511
The main issue here is:
- HTTP requests sent to Google API only accepts strings or unicode (aka some text in some languages)
- Should we convert everything to a string or not ?

I would agree that everything should be converted to its _string representation_ as in all cases we can't send a `datetime` object over to the spreadsheet, and sending the string representation of a `datetime` object is wo

[2021-05-19 22:04] lavigne958 commented on #863
Hi now worries @moonzlo , thank you for closing this issue as it is already solved :slightly_smiling_face:

[2021-05-19 22:07] lavigne958 commented on #515
This is a great idea, I'll keep this in mind but this is not easy to introduce **and** keep the current behavior.

If anyone is willing to start on it, feel free. otherwise it would have to wait a little bit, I first would like to finish sorting out the code, linting the code and enabling back the Test suite.

[2021-05-19 22:17] lavigne958 commented on #516
This has been solved after upgrading the method `insert_row`.

Tested it on latest version and it works fine.

Closing this issue.

[2021-05-19 22:17] #516 closed

[2021-05-19 22:21] lavigne958 commented on #551
This has been fixed. Tried to append a row to a sheet containing a semicolon `:` in its name and it works.

Closing this issue.

[2021-05-19 22:21] #551 closed

[2021-05-19 22:27] lavigne958 commented on #576
closed by #802

[2021-05-19 22:28] #576 closed

[2021-05-20 07:28] lavigne958 commented on #450
Hi @bwatkin79 I'm glad you solved your issue.
The authentification process is now changed to latest Google Auth system.

A lot of formulas might slow down a bit if you get your values with the result of the formula, because it takes a little bit more of computation to compute the formula result, but that's OK Google's side so don't worry too much they have what it takes to do the job 😊. What can b

[2021-05-20 07:28] #450 closed

[2021-05-20 12:15] lavigne958 commented on #475
No answer from issue owner for a long time.
The scope has changed.

Closing this issue.

[2021-05-20 12:15] #475 closed

[2021-05-20 12:19] lavigne958 commented on #540
Issue is solved. Closing it

[2021-05-20 12:19] #540 closed

[2021-05-20 12:20] lavigne958 commented on #554
This has been fixed.

Closing this issue.

[2021-05-20 12:20] #554 closed

[2021-05-20 12:33] lavigne958 commented on #559
This is duplicate closing this issue.

[2021-05-20 12:33] #559 closed

[2021-05-21 11:51] #332 closed

[2021-05-21 13:14] lavigne958 opened #878 "Upgrade contributing doc and tox to take env"
**Describe the bug**
the doc in https://github.com/burnash/gspread/blob/master/.github/CONTRIBUTING.md provides the full test command
replace it by `make test` and configure tox to take env variables if set

**To Reproduce**
Steps to reproduce the behavior:
1.  run the test suite using make `make test`
2. it fails
3.

**Expected behavior**
run the test suite using make, passing the right env varia

[2021-05-21 18:33] joaocasarin opened #880 "Allow OAuth authentication for end users with JSON where I choose"
Hi, as it's already available for services accounts, it would be great if the method **gspread.oauth()** had the **filename** parameter, where the developer could pass the path to the credentials.json file, instead of locking it to **on Windows: %APPDATA%/gspread/**.

[2021-05-22 21:54] lavigne958 commented on #880
H @joaocasarin

This feature has just been merged in master branch. It has not yet been released to pipy repository.

You can find the associated PR here #847

At the moment your solution would be:
- update your current version to latest version from master branch
- wait a little bit for a new release on pipy repository

[2021-05-24 04:21] joaocasarin commented on #880
Hi @lavigne958 !

Thanks for the answer, I didn't find that PR before.

[2021-05-24 04:21] #880 closed

[2021-05-24 09:42] lavigne958 commented on #545
Hi this is a bigger issue in fact, as none of the properties are up to date after changing them.

I think the simplest way of solving this for now is to update local properties when an update is successful.
So for instance calling `add_rows` will increase the local `row_count` value. this can lead to mistakes still because someone could be updating the sheet from an other script or from a web brow

[2021-05-24 09:53] lavigne958 commented on #600
Hi @dgilman  this is a good issue you point here.

I will have a look and see, because this would be a braking change for other users. we can't just update it and leave other users with broken code.

[2021-05-24 09:53] lavigne958 opened #881 "Update local properties when updating spreadsheet/worksheet"
**Is your feature request related to a problem? Please describe.**
Updating spreadsheet property call does not update local properties.

ex: call to `append_row` does not increase property `row_count`

**Describe the solution you'd like**
Update local properties when necessary.

**Describe alternatives you've considered**
One can make the explicit call to `sht.fetch_sheet_metadata()` to update the

[2021-05-24 18:59] lavigne958 commented on #550
No response from the issue owner, provided a proposal with the right methods to use.

Closing this issue.

[2021-05-24 18:59] #550 closed

[2021-05-24 19:06] lavigne958 commented on #560
I don't think this function is very needed. As workaround if really needed one can use the function `a1_range_to_grid_range`.
One can provide only a column name and get its index.

Closing this issue.

[2021-05-24 19:06] #560 closed

[2021-05-24 19:14] lavigne958 commented on #577
This function does not exists anymore. It does not apply anymore the new API does not need to login before.

Closing this issue.

[2021-05-24 19:14] #577 closed

[2021-05-24 19:18] lavigne958 commented on #583
issue is solved.

closing this issue.

[2021-05-24 19:18] #583 closed

[2021-05-24 19:19] lavigne958 commented on #584
API V3 is not used anymore. only API V4 which seems to return the correct value.
Issue not relevant anymore then.

Closing this issue.

[2021-05-24 19:19] #584 closed

[2021-05-24 19:21] lavigne958 commented on #586
This has been solved. you can now create a SpreadSheet using GSpread.

Closing this issue.

[2021-05-24 19:21] #586 closed

[2021-05-24 19:21] lavigne958 commented on #587
Issue with no context. Using old API.

Closing this issue.

[2021-05-24 19:21] #587 closed

[2021-05-24 19:26] lavigne958 commented on #588
Ran the test and it works, used sheet names: 'a1', 'a120' and in all cases I could append rows.

Closing this issue.

[2021-05-24 19:26] #588 closed

[2021-05-24 19:30] lavigne958 commented on #590
No response from the issue owner, very most likely trying to get all records on an empty sheet. This has now been fixed.

Closing this issue.

[2021-05-24 19:30] #590 closed

[2021-05-24 19:41] lavigne958 commented on #593
This is strange, I don't think this issue is related to GSpread.

I ran the used the following code snippet:
[code]

Which leads to the following error message:
[code]

In this case python point out that the module 'os' has no attribute 'toto' in you stack trace the error message point out the object of name 'module' has no attribute 'APIError'. and it does not says anything about GSpread. I belie

[2021-05-24 19:41] #593 closed

[2021-05-24 19:50] lavigne958 commented on #603
This relates to #537  and has been solved by #726 .

One can now provide the starting range where to insert the new row.

Closing this issue.

[2021-05-24 19:50] #603 closed

[2021-05-25 01:44] simonjj opened #882 "Documentation for 3.7.0 wrongly lists Worksheet.get_note"
**Important**: Please do not post usage questions here.
To get a quick response, please ask a question on Stack Overflow using `gspread` tag.
See existing questions: https://stackoverflow.com/questions/tagged/gspread

---

**Describe the bug**
The documentation at https://docs.gspread.org/en/latest/api.html?highlight=get_note#gspread.models.Worksheet.insert_note seems to list get_note as an availa

[2021-05-25 08:37] lavigne958 commented on #882
Hi @simonjj thank you for point out this issue.
We are aware of the delta between the documentation and the latest release. We will fix this by versioning the documentation and make it match the releases of GSpread. this will come in some time soon. Sorry for the misleading documentation.

Are you ok to use the latest version from the master branch ?

[2021-05-25 11:40] lavigne958 commented on #623
Ran a test using `inotifywatch` to watch accesses on the credential file, set owner:group to `root` to make sure my personal user cannot write the file, got:
- Access (read content) = 1
- close_nowrite (closed file, previously open in read-only mode) = 1
- open (file is opened) = 1

- no issue/exception, script ran normaly.

Closing this issue.

[2021-05-25 11:40] #623 closed

[2021-05-25 11:48] lavigne958 commented on #635
This is an issue related to [google-auth](https://github.com/googleapis/google-auth-library-python). Not to GSpread unfortunately.

If you don't mind I'll close this issue. You can still discuss the issue here if you wish.

[2021-05-25 11:48] #635 closed

[2021-05-25 11:53] lavigne958 commented on #652
Hi @iamericha , thank you for your bug report. This has now been fixed now. I ran multiple tests recently with sheet names like `A1` and it works well, this was due to a lack of covering the sheet name when sending requests which has been fixed now.

Closing this issue.

[2021-05-25 11:53] #652 closed

[2021-05-25 12:11] lavigne958 commented on #653
Thank you @jlchulilla for that detailed investigation :slightly_smiling_face:

GSpread has been updated and now  does not use oauth2 lib anymore but google-auth now.

It is good to know for window users too. Thank a lot.

Issue has been solved.

Closing this issue.

[2021-05-25 12:11] #653 closed

[2021-05-25 12:13] lavigne958 commented on #655
No response from the issue owner, potential fix has been given.

Closing this issue.

[2021-05-25 12:13] #655 closed

[2021-05-25 12:18] lavigne958 commented on #656
Hello @irthomasthomas
Yes it is necessary, in order to access Google API you must first be authenticated.
This (in the case of a script, using the API) can only be done using a special account or in behalf of a real human account.

In that case you must first share the spreadsheet you want to edit/delete/update with that special account.
If you wish to craete spreadSheets with that special account

[2021-05-25 12:18] #656 closed

[2021-05-25 12:20] lavigne958 commented on #657
No response from the issue owner.

closing this issue.

[2021-05-25 12:20] #657 closed

[2021-05-25 12:34] lavigne958 commented on #658
This issue needs to be addresses I think.
One can simply do a call to `fetch_sheet_metadata()` right after a call to `open(_by_url|_by_key)`.

I am thinking about doing it in the open method, this way we'll catch wrong name/url/key etc and we'll be able to populate the SpreadSheet instance properties.

[2021-05-25 19:54] lavigne958 commented on #670
No response from issue owner, closing this issue.

[2021-05-25 19:54] #670 closed

[2021-05-25 19:56] lavigne958 commented on #674
No resposne from issue owner, closing this issue.

[2021-05-25 20:06] lavigne958 commented on #722
No response from issue owner, a proposal for a solution has been given.

Closing this issue.

[2021-05-25 20:06] #722 closed

[2021-05-25 20:32] lavigne958 commented on #781
Hi @adamcunnington thank you for pointing out this issue.
As mentioned this is not on our side, we can only rely on the API provided by google.
Since they do not provide an atomic API to empty a sheet *AND* fill it, we can't do anything.
Even if we send both requests one after an other with the shortest time between each, there is a possibility that someone else update the sheet in between or empt

[2021-05-26 13:12] lavigne958 commented on #557
Hi if you want to display the entire row you need to access it.
The _dummy_ way of solving this could be:
- get all values (all columns, all rows)
- iterate over all values of column 1, when found print the row

The _better_ way of doing this could be:
- get the last row, build range name like "A1:A200" in the case last row is number 200
- get a range of values for only the first column: `wks.rang

[2021-05-27 09:51] tg295 commented on #81
+1

[2021-05-27 11:34] lavigne958 commented on #81
After a quick search I found this article on medium.com => [here](https://medium.com/google-cloud/accessing-google-cloud-apis-though-a-proxy-fe46658b5f2a#2319) which mention the classic way of proxy handling for command line tools: use the env var `http_proxy` (only available on Linux and MacOS).

Proxy is a network feature, and specific to the local environment. Proxy is a system setting, so may

[2021-05-27 12:07] lavigne958 commented on #81
I just checked the HTTP decorator used by GSpread: https://github.com/googleapis/google-auth-library-python
And it checks for environment variables set for proxies (like: http_proxy, https_proxy, etc)

It should now work, I don't have a setup with a proxy already setup to test it, if anyone is up for testing this, feel free to comment your result :slightly_smiling_face:

[2021-05-27 15:47] #878 closed

[2021-05-27 21:49] lavigne958 commented on #737
travis CI has been disabled, very soon will use github Actions.

Switching from (for now) no CI to github Actions will trigger update of cassettes (I will update them on the way).

Closing this issue.

[2021-05-27 21:49] #737 closed

[2021-05-27 21:54] lavigne958 commented on #778
There is a PR on the way about this. Waiting for some feedback from the PR owner of #865 .
I still don't quiet get it between `supportAllDrives: True` and `corpora: 'allDrives`. but once both are merged you issue should be solved (from what I understand).

[2021-05-27 22:07] lavigne958 commented on #787
Hi @brycenesbitt thank you for reporting this detail

Tried it, I disabled GoogleSheet API and GoogleDrive API. Ran GSpread and as you mentioned got a link.
I used the link and it took me directly to the Google Sheet API. with the big green button `Enable`.

It is very likely that the google cloud console changed since your opened your issue :thinking:

Anyway a quick overview of the necessary API

[2021-05-27 22:18] lavigne958 commented on #815
Hi @amanda-ruby-nyt thank you for pointing out this issue.

Unfortunately there is not much we can do here, this is a text in a comment, and this comment applies to windows user which uses back slashes for path and not forward slashes (like any unix system, aka: linux, macOS etc). on the top of it, this kind of a comments are actual python strings, but they are meant to be comments (or docstring)

[2021-05-28 21:09] tg295 commented on #81
Could you point me to the decorator please?

[2021-05-31 08:56] lavigne958 commented on #81
yep, you can fin dit using the link above to `google-auth-library-python`
otherwise here is the source code of the actual decorator: [AuthorizedSession](https://github.com/googleapis/google-auth-library-python/blob/1a6496abfc17ab781bfa485dc74d0f7dbbe0c44b/google/auth/transport/requests.py#L238)
and I double checked and the http_proxy env reading seems to be from the `requests` package.

[2021-06-01 02:52] nickolay commented on #755
Note that `copy_to` returns a dict, so you have to convert it to a proper `Worksheet` object manually, e.g.:
[code]

There's also a bit of confusion because gspread follows Google's API in having a completely separate `duplicate_sheet` (#617) API for duplicating a sheet inside a spreadsheet.

[2021-06-01 09:42] tg295 commented on #81
So the issue I have is that I do not want connection to the proxy across all http sessions, only those where I am making requests outside my internal network. This is why I am looking for a library-specific solution rather than environment-wide. e.g. there are certain APIs that I do not want to connect to via proxy, and some that I do.

[2021-06-01 10:05] tg295 commented on #81
I figured out a solution - I discovered the env variable `NO_PROXY` which I've used to set my organisations internal domains where I do not want to pass through a proxy. I then have `HTTP_PROXY` and `HTTPS_PROXY` set to the proxy address which diverts all other traffic through the proxy. @lavigne958 thanks for your help.

[2021-06-01 12:20] lavigne958 commented on #81
pleasure. I'm glad it works.

if you are using linux, remember these env variables works for other software/libraries too (it might work as well on MacOS, can't telle about Windows though).

[2021-06-02 19:17] lavigne958 commented on #271
closed by #857

[2021-06-02 19:17] #271 closed

[2021-06-09 14:19] bonzai299 opened #885 "value_input_option='USER_ENTERED' not functioning for worksheet.insert_row()"
**Important**: Please do not post usage questions here.
To get a quick response, please ask a question on Stack Overflow using `gspread` tag.
See existing questions: https://stackoverflow.com/questions/tagged/gspread

---

**Describe the bug**
value_input_option='USER_ENTERED' parameter does not take effect for worksheet.insert_row() as it does for worksheet.append_row().

**To Reproduce**
Steps t

[2021-06-16 03:35] thlintw commented on #885
I'm having this exact problem and somehow calling `insert_rows()` instead solved this. Which is weird though because it seems that `insert_row()` is just calling `insert_rows()` with a single row and other args are just passed down.

[2021-06-16 08:11] lavigne958 commented on #885
Hi @bonzai299 , thank you for reporting this issue.

This is strange because the 2 methods use the same API URL to proceed, the only difference is the use of the parameter `InsertDataOption` which is specified in in the request for `append_rows` but not for `insert_rows`.

I will look at it when I can.

[2021-06-21 16:45] CreatorGhost commented on #416
A Very Important Note from here : [https://docs.gspread.org/en/latest/oauth2.html#enable-api-access]

    Very important! Go to your spreadsheet and share it with a client_email from the step above. Just like you do with any other Google account.
    If you don’t do this, you’ll get a gspread.exceptions.SpreadsheetNotFound exception when trying to access this spreadsheet from your application or a

[2021-06-21 16:45] CreatorGhost commented on #226
A Very Important Note from here : [https://docs.gspread.org/en/latest/oauth2.html#enable-api-access]

    Very important! Go to your spreadsheet and share it with a client_email from the step above. Just like you do with any other Google account.
    If you don’t do this, you’ll get a gspread.exceptions.SpreadsheetNotFound exception when trying to access this spreadsheet from your application or a

[2021-06-22 03:09] TehFamine opened #886 "Add method for service accounts within Google Functions"
**Is your feature request related to a problem? Please describe.**
Yes. The problem is using an authentication method where you want to deploy gspread to a Google Function that is tied to a service account and do not want to store the service account key in the function itself for security purposes. It seems using ServiceAccountCredentials is not allowed with spread authentication.

**Describe the

[2021-06-22 21:29] danielpetroianu commented on #435
Hi, sorry to post on an old issue, but since the named range has the worksheet in it's definition eg: MyRange='Sheet 1'!A1:B2, shouldn't he API to use named ranges be on the spreadsheet?

[2021-06-23 06:53] HuuLane commented on #680
IDK why, but it works!! lol

[2021-06-23 09:24] lavigne958 commented on #435
Hi, the named range has the sheet and range in its definition but I don't think we can list all ranges and get their definitions unfortunately :disappointed:

I am sorry but I think you have a typo in your message which makes it hard to understand, what you mean is: the API should use the name range ? or you mean we should get the name range and extract the sheet ID and the A1 notation ?

[2021-06-23 13:05] danielpetroianu commented on #435
Sorry for the confusion.
I wanted to call the API with the named range, like `spreadsheet.update('MyRange', [[1, 2], [3, 4]])`, so I can define the range in the spreadsheet and update it there if it needs to, without having to update the script that uses gspread.

From what I understand, right now I have to spreadsheet.worksheet("Sheet1") and then use the named range that is defined in Sheet1.
Fee

[2021-06-23 13:53] lavigne958 commented on #435
I understand, and no you don't have to, this is a usual confusion about the way GSpread uses named ranges.
- yes, you must first get a sheet to access the method `update`.
- no you don't have to get the exact sheet that contains the named range when updating the values :wink: , named ranges are spreadSheet wide and not tight to a particular sheet, but the way GSpread is configured you can only hav

[2021-06-28 13:11] nissankarkifm commented on #820
This worked for me on a cloud function, but not on compute engine.

[code]

[2021-06-29 21:34] lavigne958 commented on #885
I confirm the bug is here in version 3.7.0

I just ran a test on the master branch and it is fixed. It has been fixed by #873 .

Next release will include the fix.

Already fixed, coming in next release, closing this issue.

[2021-06-29 21:34] #885 closed

[2021-06-29 21:39] lavigne958 commented on #874
Solved in #879

Closing this issue.

[2021-06-29 21:39] #874 closed

[2021-06-29 21:43] lavigne958 commented on #853
@ryan-pixel I double checked and the method `insert_cols` is here in version 3.7.0.

I would suggest you to double check your editor's settings.

function is present in mentioned (latest) version, closing this issue.

[2021-06-29 21:43] #853 closed

[2021-07-01 16:58] lavigne958 commented on #778
@ryan-pixel after running some test (see latest comment in #865 )
I noticed GSpread is now able to open files in shared drives using default settings.

I recommend you give it second chance using the latest version from the master branch, as for now the latest release is coming but not out yet.

[2021-07-01 16:58] #778 closed

[2021-07-01 20:57] burnash commented on #882
This is fixed now. The documentation at https://docs.gspread.org/ redirects to the latest gspread version on PyPI (v3.7.0 at the moment).

[2021-07-01 20:57] #882 closed

[2021-07-01 23:04] jonnyzwi opened #888 "copy() still throwing errors with parameter folder_id"
The [gspread docs specify](https://docs.gspread.org/en/latest/api.html?highlight=copy#gspread.Client.copy) that the `copy()` method takes up to four parameters, one of them being an optional `folder_id` in to which the newly copied spreadsheet will be created:

However, in attempting to specify `folder_id`

`client.copy(file_id='1iKMBJ56TKxafMGhSbh66mA9GdhCaOONaLI-g3-xo6_Y', title='Test_Copy',  co

[2021-07-06 12:10] slmtpz opened #889 "Parametrize not only `authorized_user_filename` but also `credentials_filename`"
**Is your feature request related to a problem? Please describe.**
While instantiating a client using `gspread.auth.oauth()`, the latest release `v3.7.0` does not parameterize the filenames. However, in `master`, I see that `authorized_user.json` file is parametrized already. I think it's for the best the file used by auth flow, namely `credentials.json` is parametrized among `oauth()` inputs.

**

[2021-07-06 12:17] slmtpz commented on #889
I can pick this up if the work sounds good

[2021-07-07 12:36] burnash commented on #889
@slmtpz sounds good. Please go ahead.

Regarding the "filename", I know its arguable but I'd leave it as it is to stay consistent with `google-auth` which [uses](https://google-auth.readthedocs.io/en/master/reference/google.oauth2.service_account.html#google.oauth2.service_account.IDTokenCredentials.from_service_account_file) the word "filename" for path to files parameters.

[2021-07-07 13:00] mananyev opened #890 "oauth() is missing the keyword argument 'authorized_user_filename' in gspread 3.7.0"
Hi,
I am sorry to create an issue but I wasn't able to find any similar issues described on the Internet.
I am trying to connect to google spreadsheets using the OAuth Client ID and I get a TypeError when passing the filename to oauth().

**Expected behavior**
I expected to get connected to the drive as it happens with gspread.oauth() (with the default location of the credentials file).

**Code ex

[2021-07-07 13:05] lavigne958 commented on #890
Hi @mananyev ,
unfortunately using the latest released version of GSpread (Version 3.7.0) does not allow you to pass a filename to the method `oauth()`. the file must be located at the expected path `%APPDATA%\gspread\credentials.json`.

the next release will allow you to pass the filename, if you do not want to wait you could download and use the latest (still in development) version of GSpread w

[2021-07-07 13:05] #890 closed

[2021-07-07 13:11] mananyev commented on #890
Hi @lavigne958,
Thank you very much for a quick reply!

I can wait, no problem! :)
You're doing a great job! ^^

[2021-07-08 08:08] veronika-petrenko commented on #330
# Sort sheet A -> Z by column 'B'
wks.sort((2, 'asc'))

# Sort range A2:G8 basing on column 'G' A -> Z
# and column 'B' Z -> A
wks.sort((7, 'asc'), (2, 'des'), range='A2:G8')

[2021-07-08 20:08] lavigne958 commented on #888
Hi @jonnyzwi ,

thank you for pointing out the issue.

I suppose you are using Gspread from PyPI or from the latest release from here on github.

As you mentioned the missing parameter has been added recently in #851 , and this is after the latest release.
In other words: you have a version of gspread that does not include this fix. Soon a new version will come out and it will have this missing pa

[2021-07-08 20:14] lavigne958 opened #892 "argument `copy_permissions` in `client.copy` can be anything and will be True"
**Describe the bug**
the argument `copy_permissions` in the function `client.copy` is expected to be a `bool`.
when used it is not checke agains any `bool` value, using only `if copy_permissions:` this makes any type of value
pass and return `True`, like: `"True"` or `""` or `1`.

**To Reproduce**
Steps to reproduce the behavior:
1. use `client.copy("id", copy_permissions="")`
2.
3.

**Expected be

[2021-07-08 20:15] lavigne958 commented on #888
opened #892 to cover this issue, thank you.

[2021-07-08 20:18] lavigne958 commented on #852
Hi @jatsad

Thank you for pointing out this issue. I still need to investigate and run some tests.

[2021-07-08 20:24] jonnyzwi commented on #888
Lavigne958,

Thanks for the message.  I am not sure if you have seen the post that I
also made on Stackoverflow
<https://stackoverflow.com/questions/68218090/copy-still-throwing-errors-with-parameter-folder-id?noredirect=1#comment120566655_68218090>,
but I discovered that pip install would download what it thought was the
most recent version but was in fact downloading older packages with missing

[2021-07-08 20:32] lavigne958 commented on #850
Hi @isaacaudet thank you for pointing out this issue.

I still need to investigate a bit, but I believe what happens to you is:
- you get the worksheet
- you ask to delete row X
- it is done, online. but your local copy does not know about it, what you think is the next row at index X+1 is now online at row X
  then you delete the row at X+1 (which is X+1 online, but X+2 for your local copy).
and

[2021-07-09 00:56] cheesechoi opened #893 "IndexError occurred when calls row_values() empty-values row."
IndexError occurred when calls row_values() empty-values row.

**To Reproduce**
[code]

**Expected behavior**
[code]

**Result**
[code]

**Environment info:**
- Operating System - macOS
- Python version - 3.9.1
- gspread version - 3.7.0

[2021-07-11 18:57] #889 closed

[2021-07-11 20:41] lavigne958 opened #894 "Replace pure HTTP calls with google-api-python-client"
**Describe the solution you'd like**
The core of the library builds HTTP requests in order to execute specific actions on the GoogleAPI.
Replace that manual HTTP call by the library `google-api-python-client`.

This new library will build the correct HTTP request, with the payload and necessary parameters.
It will make the code easier to read and maintain and any changes on Google API side will be

[2021-07-21 08:57] lassebenni commented on #817
Thanks, it was actually in the error: `circular import`.

[2021-07-21 19:59] lavigne958 commented on #562
closed by #872

one can now get the last modification time of a SpreadSheet using:  `sps.lastUpdateTime`

[2021-07-21 19:59] #562 closed

[2021-07-23 13:45] #892 closed

[2021-07-23 13:46] #387 closed

[2021-07-23 14:00] lavigne958 commented on #443
This issue is not relevant anymore, the latest code uses a single API call to append rows.

Closing this issue.

[2021-07-23 14:00] #443 closed

[2021-07-28 04:55] yathish1618 opened #900 "Please update the library on conda-forge/pypi"
A new function get_worksheet_by_id  was added in the model - https://github.com/burnash/gspread/commit/011b44c0d64d10aa7f939b7c3b8bf0b99195b9dc

But I'm not able to use it in python environment because it's not yet updated on the conda/pip repositories. Can you please update it there?

Raising issue here based on the suggestion on my stackoverflow question regarding the same -
https://stackoverflo

[2021-07-28 05:50] thomasheuberger commented on #820
I've got the same problem here. Have you ever found a fix for this @nissankarkifm ?

[2021-07-28 07:25] nissankarkifm commented on #820
No, nothing yet. The solution above your comment worked for cloud function but not on compute engine.

[2021-07-28 07:53] lavigne958 commented on #900
Hi @yathish1618 ,

you are right this new function has not been published to PyPi yet.

It will very soon, we are discussing ,with @burnash , the new release. I think it be available in a few days.

[2021-07-31 01:44] yathish1618 commented on #900
Great, thanks!

[2021-07-31 01:44] #900 closed

[2021-08-01 15:24] lavigne958 commented on #888
Hi @jonnyzwi

thank you for taking some time to investigate and improve gspread.

I just red your post, I think you are not aware of the following facts :wink:

The `pip` package manager has installed the latest version of gspread for you, that is true.
Because the latest *released* version is 3.7.0 but if you come to github.com then you'll find the master branch of the project.
That branch is con

[2021-08-01 15:24] #888 closed

[2021-08-03 05:51] lavigne958 commented on #833
Hi @p-doyle,

Thank you for this feature request.

I found your commit about add/update/delete q named range. This is a great proposal.

I did not see your PR though 🙄.

if you are still interested, feel free to open a new one I'll look at it.

From your commit the only missing part I noticed is: add a small test that adds, update then delete a named range. 😉

If you're not interested, let me know

[2021-08-03 18:44] lavigne958 commented on #823
Hi @NicoWithManyO,
first thank you for your support :slightly_smiling_face:

no worries everyone start somewhere :wink:

In GSpread when you read the value of a cell using some method like `WorkSheet.cell()` or `WorkSheet.range()`
then GSpread returns an object of type `Cell`. This object contain some details about the actual cell (row, column, value)
but if you update the value it is not reflecte

[2021-08-03 18:44] #823 closed

[2021-08-04 13:19] LevaL59 opened #901 "Dropping commas from cells after updating to version 4.0.0"
**Important**: Please do not post usage questions here.
To get a quick response, please ask a question on Stack Overflow using `gspread` tag.
See existing questions: https://stackoverflow.com/questions/tagged/gspread

---

**Describe the bug**
A clear and concise description of what the bug is.
After Aug 1 update it seems that cells with comma are being returned without comma. Major issue for our

[2021-08-04 15:18] LevaL59 commented on #901
Hi @Lavigne958,
the code does:

gspread.authorize(credentials)

spreadsheet = client.open(spreadsheetName)
sheet = spreadsheet.worksheet(sheetName)
data = sheet.get_all_records()
headers = data.pop(0)
df = pd.DataFrame(data, columns=headers)

and comma in the values are lost in 4.0.0, comma is there in 3.7.0

Thanks,

Lev

________________________________
From: Lavigne958 ***@***.***>
Sent: Wednes

[2021-08-04 15:22] lavigne958 commented on #901
ok, I'll have look at it, could you please send me a sample of the data you have in the spreadsheet ?
is it something like :
[code]
??

[2021-08-04 15:28] LevaL59 commented on #901
One column:

A
----
B
C
GYS, OB
D

"GYS, OB" becomes "GYSOB"
Thank you for looking into this.
Lev
________________________________
From: Lavigne958 ***@***.***>
Sent: Wednesday, August 4, 2021 11:22 AM
To: burnash/gspread ***@***.***>
Cc: LevaL59 ***@***.***>; Mention ***@***.***>
Subject: Re: [burnash/gspread] Dropping commas from cells after Aug 1 update (#901)

ok, I'll have look at it, could y

[2021-08-05 16:24] lavigne958 commented on #901
Hi @LevaL59  I found the issue.

In latest released we introduced a quick, in spreadSheet any value returned is a string, we have a function that take that string
and tries to convert it to a number so users can work with  `int` or `floats` in python. This function replaces comma `,` in the string (spreadsheet sometimes introduces comma to separate thousands, like `1,000`) but it does so on the ac

[2021-08-05 16:28] LevaL59 commented on #901
Great! thanks!

________________________________
From: Lavigne958 ***@***.***>
Sent: Thursday, August 5, 2021 12:24 PM
To: burnash/gspread ***@***.***>
Cc: LevaL59 ***@***.***>; Mention ***@***.***>
Subject: Re: [burnash/gspread] Dropping commas from cells after updating to version 4.0.0 (#901)

Hi @LevaL59<https://github.com/LevaL59> I found the issue.

In latest released we introduced a quick, i

[2021-08-06 15:02] lavigne958 commented on #901
In the meantime if you have no numeric value in the column that is impacted by that issue, you can use the provided flag to prevent Gspread removing the comma `,`, in the following example we assume column `B` has in its first row the value `Customers` and is the impacted column and does not contain numeric values:

[code]

if you *no* numeric values at all and want to skip trying to convert to nu

[2021-08-06 18:45] LevaL59 commented on #901
Thank you for the tip. I just used previous version of gspread for time being.

________________________________
From: Lavigne958 ***@***.***>
Sent: Friday, August 6, 2021 11:02 AM
To: burnash/gspread ***@***.***>
Cc: LevaL59 ***@***.***>; Mention ***@***.***>
Subject: Re: [burnash/gspread] Dropping commas from cells after updating to version 4.0.0 (#901)

In the meantime if you have no numeric va

[2021-08-07 08:45] #901 closed

[2021-08-07 09:46] lavigne958 commented on #901
@LevaL59

I plan to make some major changes in the code format, re-organize files etc, so I made a quick release for your issue.
you can now use version [v4.0.1](https://pypi.org/project/gspread/4.0.1/) which includes the bugfix for your issue.

[2021-08-09 15:20] taewookim opened #905 "How to "Trim" Spreadsheet?"
I'm have sheets where i'm exceeding 5m cell limit that google imposes. To get around this, i'm trying to "trim" spreadsheet (I.e. delete columns and rows that don't have values).

Problem is, get_values() and even values_get(),  methods returns filtered list. I can get around by analyzing one cell at a time, but this leads to API throttling since there are too many cells to inspect when dealing wi

[2021-08-10 06:03] #905 closed

[2021-08-11 04:27] MR-Softwares commented on #226
I have done that still same issue persists
 line 130, in open
    raise SpreadsheetNotFound
gspread.exceptions.SpreadsheetNotFound

[2021-08-11 09:36] wosym opened #906 "breaking API changes on September 13th"
I received an email from Google today notifying me that my code (that they detected uses the Google Drive API) might require some changes due to a security update they applied.

The email says (among other things):

Since gspread abstracts the Google API, my guess is that the changes will need to be made in gspread, and not in my own code. Is this assumption correct?

If yes, were you guys aware o

[2021-08-11 12:15] taewookim commented on #906
was going to post this  but since already here, bump

[2021-08-12 04:44] taewookim commented on #906
One comment i'd like to add. this wording is confusing

`Items that have a Drive API permission with type=domain or type=anyone, where withLink=true (v2) or allowFileDiscovery=false (v3), will be affected by this security update.

In addition to the item ID, your application may now also need a resource key to access these items. Without a resource key, requests for these items may result in a 404

[2021-08-12 09:36] burnash commented on #906
Thank you for reporting this. Many thanks for the additional details.

I haven't yet received the email from Google regarding the upcoming changes.

Open for a PR with a fix for this change.

[2021-08-12 09:44] taewookim commented on #906
Full email with links
----------------------------------------

Hello Google Drive Developer,

We have identified you as a Developer who has used the Drive API in the last 30 days. We are writing to let you know that on September 13, 2021, Drive will apply a security update that will change the links used to share some files, and may lead to some new file access requests. Access to files won’t cha

[2021-08-12 12:20] dethfire commented on #906
Yeah, I got this too. Hopefully, a quick fix or I'm in trouble :)

[2021-08-12 23:15] BEVer69 commented on #906
From our testing this only appears to affect older versions on Python 2.7.   Newest version 4.0.1 on Python 3.8.2 is not affected.

[2021-08-12 23:40] mowliv commented on #906
Thanks. Is there any way to confirm for other versions of gspread? We are
running 3.7.0 with python 3.8.

On Thu, Aug 12, 2021 at 4:15 PM BEVer69 ***@***.***> wrote:

[2021-08-13 12:40] wosym commented on #906
Might I ask how you were able to tell? The way I understand it, the changes will only be breaking from September 13th onward?

[2021-08-13 12:58] BEVer69 commented on #906
Yesterday we experienced a 404 error using our old version.  I attributed
this to the new security changes being implemented.

On Fri., Aug. 13, 2021, 8:40 a.m. Wouter Symons, ***@***.***>
wrote:

[2021-08-13 13:00] dethfire commented on #906
Does  4.0.1 use the resource key?

[2021-08-13 13:44] rlshuhart opened #907 "Case when %APPDATA% on Windows does not exist"
I'm happy to see custom credential path now allowed for **credentials_filename** and **authorized_user_filename**  in the oauth function. Thanks, @slmtpz!

Unfortunately, the calling of get_config_dir() before consideration of the custom path still can be problematic.

https://github.com/burnash/gspread/blob/82eaf4ae56547449523fc3e8e30bb82769122b6f/gspread/auth.py#L31-L57

I have a use case where

[2021-08-13 15:43] burnash commented on #907
Thanks for reporting this. I haven't been using Windows for a while, so unfortunately I'm not familiar with the environment.
I didn't expect that there could be a case where `APPDATA` is missing from the environment. That makes it a bug.

Before it gets fixed I guess the minimal change would be to add `APPDATA` key to `os.environ` before gspread gets imported. In Linux you can do this in the comma

[2021-08-13 16:23] airween commented on #906
hi @BEVer69

could you solve this problem? We experienced with same issue here - got 404 Page not found since one day.

[2021-08-14 01:02] javad94 opened #908 "worksheet.delete_row() deprecation"
**Important**: Please do not post usage questions here.
To get a quick response, please ask a question on Stack Overflow using `gspread` tag.
See existing questions: https://stackoverflow.com/questions/tagged/gspread

---

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Expected behavior**
Deprecation warning i

[2021-08-14 08:23] burnash commented on #908
Thanks for reporting this. Yes it's deprecated.
Open for a fix.

[2021-08-14 14:12] mowliv commented on #906
I doubt that is what is causing your issue. Google clearly states the change will take place Sept. 13.

[2021-08-14 15:08] BEVer69 commented on #906
Hi Arvin,

After more testing we realized that the issue was with authentication.
While using Gspread version 0.6.2 we used the oauth2client module.  When
upgrading to 4.0.1 we switched to gspread.service_account.  This resolved
our 404 issue.

So in the end it doesn't appear to be related to the September 13th Google
Drive API security update but thought it may help others at it occurred
near the

[2021-08-14 15:13] javad94 commented on #908
You're very welcome.
I can make a fix, but I need the version of Gspread that this method deprecated.

[2021-08-14 19:42] burnash commented on #908
Good point. Let's deprecate it from 5.0.

[2021-08-14 21:37] javad94 commented on #908
Sounds good. Done: https://github.com/burnash/gspread/pull/909

[2021-08-16 16:00] CrabbyPete commented on #906
I am getting the 404, but only on my App Engine code. I run it locally and all is fine, when I deploy it on App Engine I get a 404. Here is what I get http://coastalflyrodders.com

[2021-08-16 17:05] mowliv commented on #906
@burnash - Hi Anton - Just checking in about this issue. Is someone lined up to test/fix it? I'd like to have a solution in place by 9/1 so we have breathing room against the deadline. I imagine others would like that, too.

Thanks!
Michael

[2021-08-16 17:19] CrabbyPete commented on #906
Just updated requirements.txt and updated, it works fine now

[2021-08-17 15:27] kyle-tc opened #910 "`get_values` does not return all data in some scenarios with empty data"
Hello! Thanks for your time. I wanted to report a potential bug in the `get_values` function. When you have a spreadsheet that has say 6 columns with headers, where data should be and you make a query for a particular row, there is a certain scenario where empty data fields are not returned. This can be confusing for downstream users of the gspread API who want to say, convert the row into a dicti

[2021-08-17 15:53] kyle-tc commented on #910
Furthermore `get_all_records` works exactly as expected in this scenario.

[2021-08-18 07:04] lavigne958 commented on #906
Hi everyone,

I received this email too and I am aware that we'll need to make some changes in gspread very soon in order to support that new security fix from Google.

After reading the whole email, the documentation about sharing files I understand the following points:

- this only affect user accessing file using either a public link or a domain link (like public link but restricted to your do

[2021-08-18 07:14] lavigne958 commented on #906
Hi @mowliv

I understand everyone using gspread need to have a few days ahead of the deadline to test it but I can't confirm the exact it's going to be released.

What I am most afraid of is:
This is a breaking change, but we no way to fully confirm our fix would work before the 13th of September, there is no brown day planed ahead nor test  API URL that we can use for this 🙁

I could come up with

[2021-08-18 15:30] mowliv commented on #906
Thanks very much, @lavigne958! I appreciate your in-depth research and clear explanation. Based on that, it seems our project isn't affected because we don't use public links.

Agreed, it is far from ideal that there is no way to test before the 13th. Thanks to you and the team for gspread awesomeness :)

[2021-08-19 12:37] Alb-C commented on #382
Some docs regarding this would be a nice addition, too

[2021-08-19 16:15] rlshuhart commented on #907
@burnash thank you for the suggestion. It inspired what I think I will do as a work-around:

[code]

[2021-08-19 19:59] NitinNR opened #911 "how i can execute the sheet formulas with gspread?"
I want to find the value of certain column value and according to that need to update the other column value only with one api call
,like we do in MySQL update query.

and is there any way to execute the sheet formulas with gspread?

[2021-08-19 20:13] lavigne958 commented on #911
Hi @NitinNR ,

If I understand correctly what you try to achieve you need at least 2 API calls to do so:
1. to fetch the values, so you can read them
2. to update the appropriate cell based on the first values you have.

About your second point:
This is not really up to gspread to execute anything, but if one of your cells contain a formula then you can request to obtain the value of that cell and

[2021-08-19 20:13] #911 closed

[2021-08-19 20:19] lavigne958 commented on #907
Hi @rlshuhart this looks like a great solution.
I looked around online for python/windows %appdata% unset... and not much luck it seems that it should be set anyway by the operating system itself when you script start.

User has found a solution, closing this issue.

[2021-08-19 20:19] #907 closed

[2021-08-19 20:20] lavigne958 commented on #908
closed by #909

Closing this issue.

[2021-08-19 20:20] #908 closed

[2021-08-19 21:02] lavigne958 commented on #910
Hi @kyle-tc ,

thank you for reporting this issue.

I ran some tests an noticed the resulting length of the list returned can vary depending on the longest row with non empty cells that is returned. for example if your call to  `get_values` includes your headers then the headers is the longest list of non empty values (6 values in total) so any row below/above will be of length 6. If you request s

[2021-08-20 16:24] rlshuhart commented on #907
Thanks for looking into it and all the other great work!

[2021-08-23 08:11] lavigne958 commented on #382
This has been discontinued. Our test suite tests _"everything"_ in a single test folder. unit cases, functional scenarios etc.

If anyone is interested please feel free to contribute (by any mean: architecture design, simple POC to introduce unit test, some doc)

@Alb-C I agree more doc on tests would be nice but in the case of that specific issue we don't have unit tests, we have some that are sp

[2021-08-23 20:31] wgwz commented on #910
hey @lavigne958 :wave: (replying from my other account). That makes sense, and I see why it would work that way. It makes me wish that header rows were a first class concept in google spreadsheets. But alas, I guess these types of headaches are to be expected if you're using spreadsheets as a database. I think in my case, I'll standardize on pulling in the first row of data and following a similar

[2021-08-24 15:21] Osdel commented on #893
I had the same issue. There is a bug in the fuction:
[code]
We need to catch `IndexError`
[code]
or just check `data` is not empty before `return data[0]`

[2021-08-24 15:56] lavigne958 commented on #893
good catch thank you @Osdel .

Any with some time to spare is welcome to open a PR :wink:

[2021-08-25 14:45] lavigne958 commented on #226
Hi @MR-Softwares

- What type of authentication are you using to access your spreadSheet ? `ServiceAccount` or `OAuth` ?
- how do you open your SpreadSheet? using `gs.open("spreadsheet-title")`, `gs.open_by_key("ABCDEGFCA12345")` or `gs.open_by_url("https://docs.google.com/spreadsheet/ccc?key=0Bm...FE&hl")` ?

[2021-08-28 08:05] lavigne958 opened #913 "lint code"
Lint code using black

Then enable the CI to let the linter pass.

[2021-08-28 08:31] #913 closed

[2021-08-28 08:53] lavigne958 commented on #318
This is not applicable anymore. The new CI uses github Actions and does not let us hold some service account credentials but let us connect to the google API if we want to.

Closing this issue.

[2021-08-28 08:53] #318 closed

[2021-08-29 09:03] lavigne958 commented on #703
Hi @aiguofer

This is a great idea. It could be done of course.
I can't make it happen right now, if anyone is interested feel free to implement it.

Otherwise I might do it for version 5.1.0 of gspread.

Soon releasing version 5.0.0

[2021-08-30 21:11] bignellrp commented on #819
Is my error related or just similar. Not sure what’s causing it yet.

`2021-08-30 20:12:44,302] ERROR in app: Exception on /result [POST]
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/urllib3/connectionpool.py", line 699, in urlopen
    httplib_response = self._make_request(
  File "/usr/local/lib/python3.8/site-packages/urllib3/connectionpool.py", line 445, in

[2021-08-31 15:41] lavigne958 commented on #819
hi @bignellrp

your issue seems to be with SSL that cannot decode the SSL packet.
after searching online I found that could be due to network packets that are mixed and not ordered or the server trying to talk using TLS1.0 and brakes when you do.

Unfortunately this issue is not located and gspread.
The `Max retries exceeded` is a side effects, your connection fails, you retry and it fails again a

[2021-08-31 15:46] bignellrp commented on #819
Ah that could explain why it only fails on my docker instance.  I'll do some research on TLS1.0 and SSL. Thanks for the reply.

[2021-09-01 17:15] Zenahr opened #919 "note-related operations do not work at all."
**Describe the bug**
`get_note(cell)`
`insert_note(cell, content)`
`update_note(cell, content)`
`clear_note(cell)`

None of the functions listed here have an effect. E.g. `insert_note()` doesn't insert a note.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Environment info:**
- Windows 10
- Python 3.8.6
- 4.0.1

[2021-09-01 17:51] lavigne958 commented on #919
Hi @Zenahr

I ran some tests on a spreadsheet shared with a serviceAccount.

everything seem to work fine, I could insert a new note, get it then clear it.

do you have any backtrace due to a python/network issue ?

are you sure that you are looking at the right spreadSheet when checking the result ?

[2021-09-01 18:12] lavigne958 commented on #894
After discussing this with @burnash

it has comes to the decision not to use that python client for the following reasons:
1. the library is not maintained anymore, only major bug fixes are applied not more features.
2. the library is quiet heavy
3. If the library does not work anymore we need to go back to pure HTTP calls and this has cost we can't spare.

for now, keeping the pure HTTP calls as

[2021-09-01 18:12] #894 closed

[2021-09-02 03:44] Zenahr commented on #919
@lavigne958 Are you saying that you got it working with the sample I had provided?

I should probably run your successful code on my machine to double-check it's not my setup that's prohibiting this. Would you mind posting your code here for reference?

[2021-09-02 06:02] lavigne958 commented on #919
I almost used your code, here is the code I used:

[code]

the spreadsheet "TestGspread" is created manually first using webui, then shared to the service account.

I'll try your code and see if it works.

[2021-09-02 14:32] #893 closed

[2021-09-02 15:29] lavigne958 commented on #821
yes I am currently working on it. I found the issue and I am trying to solve it.
It takes some time.

[2021-09-03 06:33] lavigne958 commented on #667
Hi @qburst-gokul

I am sorry I thought that feature would be very easy to do, unfortunately it is and its event worth, it can't be done 😕

The API simply does not provide the creation time of a worksheet. Without that information it can be done.

Closing this issue.

[2021-09-03 06:33] #667 closed

[2021-09-03 07:30] bignellrp commented on #819
I'd like to add that ive switched to tiangologs meinheld docker and im no longer getting this error.  docker run -t -i -e WEB_CONCURRENCY="1" -p 80:80 tiangolo/meinheld-gunicorn-flask

[2021-09-03 16:36] lavigne958 opened #923 "update test suite using `pytest`"
Update the test suite to use `pytest` instead of `nose`

motivation:

pytest output is easier to read in case of error

there is a pytest fixture called `pytest-vcr` that handles [vcrpy](https://github.com/kevin1024/vcrpy) automatically.

this is to replace betamax ~later~ at the same time  with `vcrpy`.

This will allow us to run test offline in the CI.

After running a basic test I was able to:

[2021-09-04 11:16] #829 closed

[2021-09-04 11:17] #804 closed

[2021-09-05 08:47] lavigne958 opened #924 "Improve tox file"
Improve tox file and fill it with the useful commands for the project.

Tox can be used to:

- build the gspread package
- run tests
- run all sorts of linters
- run the test suite
- build the doc

This will be useful for the CI, it will allow the action file to contain `tox ...` commands and one could easily use them locally too (run the linter etc)

[2021-09-09 14:11] m00dy opened #927 "Has anyone done code analysis on this project ?"
This project could be a goodspot to inject some sort of backdoor to analyze documents on the fly. Has anyone done audit on the code itself ?

[2021-09-09 14:27] burnash commented on #927
I guess this is a good question to ask yourself when you're installing *anything* from the internet :)
The second question is if you trust *anyone* who does audit for you.
It's always a good idea to check what you're installing on your machine.

Since it's an open source project you can look at the source code and see what it does. If you install gspread from PyPI (https://pypi.org/project/gspread

[2021-09-11 17:20] manugarri commented on #680
the fix is quite easy, we just need to setup the `allow_nan` flag of python json to False. However it seems like it requires some changes to the code since the [code](https://github.com/burnash/gspread/blob/52feb9a59883127da4069253c2e6f07b0f615269/gspread/utils.py#L533) only filters None (not NaN, or Infinity).

This is a very brittle solution to be honest.

[2021-09-11 19:46] #927 closed

[2021-09-12 14:31] #821 closed

[2021-09-12 14:31] #923 closed

[2021-09-13 14:37] mowliv commented on #906
Today is the day this is supposed to roll out. Does anyone know if it's out yet? Things are working for me.

[2021-09-13 15:50] lavigne958 commented on #906
No time for me to work on it recently.

this is my next priority to look at.

[2021-09-13 17:22] wosym commented on #906
Same here: things seem to be working like they did yesterday. Is there any way for us to check if the changes were already made live, by Google? When do they usually apply changes? at the end of the day, at the start of the day, or some random time?

[2021-09-15 23:27] lavigne958 commented on #906
Hi everyone, I ran some tests and I don't see any issue opening a spreadsheet using a public link, and when I take a private spreadsheet and share it publicly then I don't get the `resourceKey` that the e-mail mentions :-|

I don't understand if something has changed or not.

If anyone encounter an issue please post a comment here we'll investigate from there.

[2021-09-17 10:01] ideacco commented on #806
I also encountered the same problem, if I can insert a two-dimensional list such as [[],[],[]]... so I can update multiple pieces of data into the document at once

[2021-09-18 15:05] Hagkal opened #929 "add batch_format method to Worksheet eliminating the need for multi request for formatting cells"
**Is your feature request related to a problem? Please describe.**
i recently made a small program with this package. it is a great experience!
the issue came when i needed to format some cells in arbitrary places (not in a range).
that forced me to make lots of `Worksheet.format` calls (which results in an api fired to google). that method proved ok until my the formatting need exceeded my quota

[2021-09-18 22:22] ericbn commented on #929
I've also worked on a solution for this locally, making `Worksheet.format` accept both a scalar or a list, so both
[code]
work.

Having a `Worksheet.batch_format` instead is maybe a better option, closer to the already existing ones for accepting a list of ranges.

[2021-09-20 18:22] ajw-42 opened #931 "Option to access Sheets API using Google client library?"
As far as I can tell, you're always hitting the Sheets API using the URLs in `urls.py`. I have some projects where I'm querying the API using the `google-api-python-client` library, but I'd still like to use `gspread`'s helpful tools for manipulating data before/after the API call. Is there a reason you don't support that approach or why the URLs are a better option?

I ran a few speed tests compa

[2021-09-21 06:11] lavigne958 commented on #931
Hi @ajw-42

I thought about it, using the python library but the gspread owner explained that Google can make some changes and depreciate come library like this is is only in maintainance mode, the owner of Google python apitm client recommend using a different library.

You can find the following ticket that was my intention to replace the url by the library and I finally changed my mind to keep

[2021-09-21 10:55] burnash commented on #931
Just wanted to expand on @lavigne958 answer.

Currently gspread uses vanilla HTTP for legacy reasons. When I started gspread it was a wrapper around Google's gdata (a predecessor to google-api-python-client). After a while I dropped the dependancy. It was a long time ago and unfortunately I don't remember the rationale behind this (I didn't document this 🙄). I believe this was some sort of optimiz

[2021-09-21 15:33] Blazingi opened #932 "gs.oauth() authorized_user.json token expires every week"
**Describe the bug**
gs.oauth() authorized_user.json token expires every week, I have to manualy delete authorized_user.json to regain authentication

**To Reproduce**
Steps to reproduce the behavior:
1. Authorize in browser after calling gs.oauth()
2. Wait 1 week
3. Token expired, client is unable to continue:
RefreshError: ('invalid_grant: Token has been expired or revoked.', {'error': 'invalid_

[2021-09-21 16:01] BlazingPL commented on #932
I found its possible to grant offline access to token:
https://stackoverflow.com/a/10857806
Is it possible to to grant offline access through gspread?

[2021-09-21 17:43] ajw-42 commented on #931
Apologies for missing #894, and thank you both for the explanation. That all makes sense to me, I'll close this issue now.

I should have been clearer, I don't see any problem with using gspread alongside the client library - I just wanted to understand the thinking behind the pure HTTP access. So thanks again for explaining!

[2021-09-21 17:43] #931 closed

[2021-09-22 02:21] lukedoomer commented on #932
mine token expired as well

[2021-09-22 12:01] #924 closed

[2021-09-22 17:07] ViniciusARZ commented on #680
Worked fine for me too!

[2021-09-30 10:46] pocin commented on #867
Hit this today as well. It seems the default encoding for `http` dependency is `latin-1`.
For anyone that comes forward and uploading a csv from file just do
[code]
the default encoding when reading in binary mode is `utf8`.
Perhaps emit a warning in `import_csv()`?

[2021-09-30 22:23] #781 closed

[2021-10-04 08:20] thuguerre opened #935 "worksheet.insert_cols and then worksheet.add_cols does not work"
https://github.com/burnash/gspread/blob/90a728fac1c8f6fb38f19da588de0337697854cc/gspread/worksheet.py#L1151

if we use `worksheet.insert_cols` to insert X new columns at the middle of the worksheet (it works), and then call `worksheet.add_cols(X)`, it will not add 2 new columns at the end of the sheet.

However, if I use instead `worksheet.add_cols(X x 2)`, it will work.

I guess `worksheet.insert

[2021-10-04 09:16] lavigne958 commented on #935
Hi @thuguerre thank you for raising this issue, I agree with you the value of the property `col_count` is not updated and so it makes the call to `add_cols` misbehaving.

This could be solved if you try to get the worksheet again using one of the functions like `spreadsheet.get_worksheet(0)`.
This will force gspread to fetch the latests metadata from the online spreadsheet.

This is a bigger issue

[2021-10-04 10:10] thuguerre commented on #935
thanks for the workaround ! it works for me, and is safer than my x2 :)
I presume update API call does not return new metadata to update local ones ?

[2021-10-04 11:16] lavigne958 commented on #935
I am sorry but what method do you refer to by "update API call" ?

the only way to update local properties of a spreadsheet is by getting the worksheet again, we don't have (yet) any method to update the local properties of a worksheet. The `SpreadSheet` class has a method to fetch the latest properties (`fetch_sheet_metadata`) but you still need to read the result and update your sheet properties

[2021-10-04 11:26] lavigne958 commented on #881
# Issue
## This issue raises the following problems:

- update the spreadsheet (and underlying worksheet) is not reflected locally
- not having the latests state of the spreadsheet locally brings some unexpected behavior
  - updating the row or column count brings column/row insertion to the wrong place
  - updating the title can break any function that tries to get a value using a range (because

[2021-10-04 12:44] thuguerre commented on #935
I was just asking for your original issue, in order to try to help. But I guess you have already verified that `self.spreadsheet.batch_update(body)` for instance (worksheet, line 1178) does not return metadata that can be used to update local ones.

For my own issue, the workaround is enough to go forward.

[2021-10-04 13:09] lavigne958 commented on #935
Oh alright I get it.
Actually I need to double check, I think this method (`batch_update`) does not return the new properties, but I still need to double check.

I will close your issue then, we know the root cause of your actual issue so this one has a workaround and the root cause will be fixed at some point.

feel free to comment if you face any more issues related to this.

[2021-10-04 13:09] #935 closed

[2021-10-05 06:33] lavigne958 commented on #850
Closing this issue since it is tracked by #881.

[2021-10-05 06:33] #850 closed

[2021-10-05 06:36] lavigne958 commented on #852
Did you use the gspread `copy` method to copy the spreadsheet or did you copy it using the web UI drive.google.com?

[2021-10-10 17:09] #295 closed

[2021-10-13 14:27] kyle-tc opened #938 "Built-in, opt-in caching mechanism"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

When searching for rows in a spreadsheet, it's not uncommon to encounter rate-limiting errors. The Google Sheets API rate-limit is quite small. At the time of writing it's 500 requests per 100 seconds per project, and 100 requests per 100

[2021-10-13 22:10] ronpatel916 opened #940 "READ TIMEOUT: HTTPSConnectionPool(host='sheets.googleapis.com', port=443): Read timed out. (read timeout=120)"
Issue:

There is a timeout on the server side that is preventing me from uploading data to a google sheet.

**Describe the bug**

HTTPSConnectionPool(host='sheets.googleapis.com', port=443): Read timed out. (read timeout=120)

The connection is closed on the server side. Is there a way to increase the read timeout limit?

**Code example***
`client = gspread.authorize(credentials)

    wb = client.

[2021-10-14 04:55] amzar96 commented on #276
Any update on this? I faced the same issue.

[2021-10-14 05:06] amzar96 commented on #81
Hey, I already set both env but the issue is still there 😭

[2021-10-14 05:13] amzar96 commented on #81
Hi, how do you set `HTTP_PROXY`? Is it hardcoded in the script or using `export`?

[2021-10-15 12:20] kevslinger opened #942 "API Reference no longer gives Model methods"
**Is your feature request related to a problem? Please describe.**
The `Models` section of the API reference https://docs.gspread.org/en/latest/api.html#models used to provide the class members of `cell`, `worksheet`, and `spreadsheet`, but have now been left blank.

**Describe the solution you'd like**
Reverting back to the version where these descriptions are present on the docs, or linking them

[2021-10-19 03:07] Daniel-Trung-Nguyen opened #943 "Append values"
Can you help add examples of appending values to the last row, and find a value in a column and then update the values of the entire row?
Many thanks,
Daniel

[2021-10-25 17:19] #942 closed, assigned to nobody

[2021-10-26 18:09] karambaq opened #946 "Option to insert comment for cell."
**Is your feature request related to a problem? Please describe.**
I know the library has a method to insert a note, it would be nice to have a method that inserts a comment to a cell.

**Describe the solution you'd like**
Something similar to `insert_note`.

If there is already one, please let me know.

[2021-10-27 21:46] #946 closed, assigned to nobody

[2021-10-30 04:53] ccppoo opened #947 "[Proposal]: get, get_values filling empty values response from Google Sheet (with expected cells dimension)"
## This issue is made to share clear status for solving problem

### Point of Contention (1 / 2)

I wrote replies at other issue [get_values does not return all data in some scenarios...](https://github.com/burnash/gspread/issues/910)

But I just want to share some opinions before making a PR.

```get()``` method
https://github.com/burnash/gspread/blob/6d01d7b5bb79601d0eece20255eabed9d13aa5bf/gspr

[2021-10-30 05:14] ccppoo commented on #938
It sound like you are looking for serviceworker-like(PWA) solution,
a middle ware that cache and control request over network whether it seems stale or
like making request every 10 minutes staying fresh? in local machine?

[2021-10-30 05:52] lavigne958 commented on #947
Thank you @ccppoo for this very clear explanation.

I agree we only need `get` method, but the default behavior should be to fill the gaps with empty string. I don't see anyone using the `get` method and having list of different lengths to work with 😑

Remember that the method `get_values` includes the first row as header all the time, very useful to fill `pandas.DataFrame`. And a lot of the users

[2021-10-30 06:03] ccppoo commented on #947
@lavigne958
Just as you mentioned, I was concerned about the changes could brought by removing one of the methods
but duplication, with almost same name or ambiguous functionality , is the worst thing...

So should it be preserved? or integrated?
should this issue need other maintainer's opinion?

in case of remove one of it, for later major version, making one of method being deprecated is will b

[2021-11-02 22:58] lavigne958 commented on #947
I agree by merging the 2 methods into 1.

we could:
- update `get_values` so it always return a matrix of the expected size (with empty values that can be configured using `default:string` argument value)
- update the method `get` so it prints a warning that this function is deprecated and users should use `get_values` instead.
  this can be done using the package `warning`, one can use the [follo

[2021-11-03 20:01] NeilRiver commented on #387
Ji Ji very very long jew solution

i was want clear all data on range A2:C(max)

it work very fast

`    a_col = (len(sh.sheet1.col_values(1)))
    b_col = (len(sh.sheet1.col_values(2)))
    c_col = (len(sh.sheet1.col_values(3)))

    sh.sheet1.update('A2:C'+str( max(a_col, b_col,c_col)+1 )+'', [ ['','',''] ]*max(a_col, b_col,c_col) )
`

[2021-11-07 14:43] pbunluesin opened #950 "gspread cannot write data to google sheet if rows over 10,000 records"
I got this error when write data to google sheet over 10,000 records on google sheet

`gspread.exceptions.APIError: {'code': 400, 'message': 'Invalid requests[0].updateSheetProperties: This action would increase the number of cells in the workbook above the limit of 5000000 cells.', 'status': 'INVALID_ARGUMENT'}`

**To Reproduce**
Steps to reproduce the behavior:
1.  Clean existed data on sheet wi

[2021-11-08 07:28] lavigne958 commented on #950
Hi @pbunluesin

As the error mentions it, this is not a gspread error 🙄
This is a Google spreadsheet limit.

Basicly, as mentioned in the error message: Google prevents you from from having more than 5 million cells in a workbook.

Closing this issue as this is not a gspread error.

[2021-11-08 07:28] #950 closed

[2021-11-11 12:16] Dmdv commented on #806
@lavigne958 I'm sorry, I don't own the code now for reproduction. Sure, you can close it

[2021-11-11 12:47] lavigne958 commented on #806
No worries, thanks for taking a look though.

[2021-11-11 12:47] #806 closed

[2021-11-15 01:58] imasters11 opened #952 "Be able to read formatted numbers as numbers"
**Is your feature request related to a problem? Please describe.**
I have a spreadsheet that gets updated automatically via gspread that contains large numbers. The same spreadsheet gets read in by a different program periodically using gspread. If I apply numerical formatting to any of the numbers the reading program will interpret them as strings and not numerical values while using the `get_all

[2021-11-15 04:06] imasters11 commented on #952
never mind, sorry I found the `ValueRenderOption` which does exactly what I need

[2021-11-15 04:06] #952 closed

[2021-11-16 16:38] lavigne958 opened #953 "`range` method does not fill gaps correctly with unbounded range"
**Describe the bug**
when requesting a range with unbounded rows or unbound columns using a range name we don't get
the same result as if we request a range using indices.

**in the case with empty content** the difference is seen directly as in 1 case you have an empty list,
and the other case you have a list of empty cells.... not the same.

**To Reproduce**
Steps to reproduce the behavior:
1. o

[2021-11-18 04:19] jo-mamaa opened #955 "Error on running working for more than an hour on linux server google.auth.exceptions.TransportError: ('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer'))"
**Describe the bug**
I have an async loop running in my program, it's meant to be running constantly, but ~1h into it, it errors out with : google.auth.exceptions.TransportError: ('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer'))
This doesn't happen on my PC, but only when I'm running it on my linux server. I've checked everywhere I could, but can't find anything limiti

[2021-11-18 22:18] #953 closed

[2021-11-21 20:59] lavigne958 commented on #462
The API is now using the _value append URL_ which allows us to request the whole row to append in a single API call.

Closing this issue.

[2021-11-21 20:59] #462 closed

[2021-11-21 21:04] #600 closed

[2021-11-23 18:00] lavigne958 commented on #822
After looking around online, I found the open issue on google side, they left a comment saying:

Thas was in april this year.
[Here is the link to the issue tracker](https://issuetracker.google.com/issues/36761154)

What we can do until then is prevent sheet title creation that contains a colon `:`.

[2021-11-24 09:03] lavigne958 commented on #432
Hi @alekaizer are you stil working on that PR ?

[2021-11-24 11:18] MAlhussaini commented on #511
You could use this function, it worked for me:

Imports:

[code]
Lets have a variable now as datetime object:

`now = datetime.datetime.now()
`

then pass now to the following function as string.

[code]
This way your entered datetime will be recognized by google sheet as if it was entered by a person. If you want to know more about how to use gspread [follow this link.](https://docs.gspread.org/e

[2021-11-26 17:02] dashezup commented on #691
It costed me a while to figure out that the value of RGB is the number of RGB percent (between 0 and 1), it's not RGB decimal.

[2021-11-28 09:03] lavigne958 opened #959 "Update contribution guidelines"
# overview

Update the contribution, it should only use the command `tox`

# details

Now the tox file has been updated and has all the commands we can run on gspared (tests, doc, etc..).
The contribution guidelines should only mention the `tox` command.
Now we can pass args to the test env for tox so no need to use direct pytest.

[2021-11-28 09:04] lavigne958 opened #960 "Update codespell to skip documentation folder"
# overview

Update the command use to run codespell and skip the documentation resulting build folder.

[2021-11-28 19:34] lavigne958 commented on #852
Hi @jatsad thanks for taking a look at this.

I don't see any issue here.
I tried running the same code, copy a spreadsheet, then open it and everything seems fine.

I looked at your screenshots, everything seems fine too.
You open a spreadsheet with the ID: `187Qf-BKG81odXcX95cKmp8Iuzny86pD0NQEjnh25AfQ`
When you look at the variable `url` it contains the same ID.
what you see in the next to `shee

[2021-11-28 19:34] #852 closed

[2021-11-28 20:54] lavigne958 commented on #304
Hi, this result can be obtained by using the method `range()` with no range (empty string).

This is not documented and might not be expected.

I will open an issue to update the doc to include this example: `sheet.range(""): returns all cells of the sheet`
I might add extra things in the new issue like: add new method `get_all_cells` that will simply do the above method call but will be explicit.

[2021-11-28 20:54] #304 closed

[2021-11-28 20:59] lavigne958 opened #961 "Update method range documentation to include get all cells."
# Overview

Update documentation of method `worksheet.range()` to include an example
that returns all the cells of the worksheet: `example: get all cells worksheet.range("")`

extra: add a new method `get_all_cells`. that would simply do the call to the method above.

# Details

This was requested by user some time ago #304
and is already done now but the way to get all cells is not explicit, not

[2021-11-28 21:26] lavigne958 commented on #438
Hi @gschaefer3

This is a good feature request but we can't make it :disappointed:

This is a limitation on google API side see the description h[ere below the code example](https://developers.google.com/drive/api/v2/manage-uploads?hl=en#import_to_google_docs_types)

Closing this issue.

[2021-11-28 21:26] #438 closed

[2021-11-28 21:31] lavigne958 commented on #746
this is been merged.

closing this issue.

[2021-11-28 21:31] #746 closed

[2021-11-29 07:42] lavigne958 commented on #658
This has been solved in version v5.0.0

Closing this issue.

[2021-11-29 07:42] #658 closed

[2021-11-29 07:45] #425 closed

[2021-12-01 22:11] lavigne958 commented on #947
@ccppoo when you are ready for your dev, let me know here and I will plan which release will integrate your changes :wink:

[2021-12-03 02:06] ccppoo commented on #947
@lavigne958  I'm not sure I could finish by Dec. 20, for version 5.1.0 🤔

[2021-12-03 04:26] sandl99 opened #963 "Reduce API request number for API call limitation reasons."
Hi,
After reading your lib, I appreciate your contribution to an easy, fast Google SpreadSheet API.
I saw in class `SpreadSheet`, you call every single `spreadsheets.get` for every single function `get_workspace`. I think you should update all of workspace metadata in `__init__` method of `SpreadSheet` class for reducing call gg API.

Thanks again

[2021-12-03 07:04] lavigne958 commented on #947
No worries, take you time.

[2021-12-03 08:46] lavigne958 commented on #963
Hello @sandl99 ,

Thabk you very much we are happy that you like gspread.

I don't understand what's you mean sorry, you mention `wo4kspaces` but we don't have such objects, do you mean `worksheets`?

[2021-12-04 15:09] #960 closed

[2021-12-07 12:39] sandl99 commented on #963
Ops I'm sorry about that. I mean `worksheets`.
In class `Spreadsheet`, `__init__` `get_worksheet` `worksheet` call the same google api `spreasheet.get`. So I think you can cache response of google api `spreasheet.get`.

[2021-12-07 23:31] lavigne958 commented on #963
I checked the methods you mention, yes we call the method `fetch_sheet_metadata` each time.
But in the case of `__init__` we only keep the `properties` section and in the other cases we only keep the `sheet` section.

We could keep the list of sheets from the `sheet` section in the `__init__` but gspread is asyncrhonous and does not handle concurrency. So if we get the list of sheets at `__init__`

[2021-12-07 23:31] #959 closed

[2021-12-08 16:14] kd-mariyan opened #965 "Non destructive import_csv for worksheets"
For `client.import_csv(...)` this imports data into the first worksheet, but it also deletes everything that is contained in the spreadsheet. Is there a reason that one could not specify which worksheet to import the CSV to and avoid deleting all the contents of the spreadsheet?

[2021-12-08 21:49] lavigne958 commented on #965
Hi @kd-mariyan

Sorry we can't, this behavior is fromm google API.
The way CSV is loaded is:
- take the CSV content
- create/replace spreadsheet file with the content.

It is documented [here](https://developers.google.com/drive/api/v3/manage-uploads?hl=en#python_1)

Quote from the documentation:

[2021-12-08 22:39] lavigne958 opened #966 "Add type hints"
Add type hints to gspread.
Add mypy to check types in the CI.

This allows developer to get type hints from their editors when developing.
This allows users to get the type hints from their editors when using gspread and have a clear hint on the return value of each function, the type of each expected argument.
It should make the use of gspread much simpler and the development of gspread easier.

[2021-12-08 22:39] kd-mariyan commented on #965
Thanks for the reply! Aha I see, it is strange that that is the only behaviour they allow. It is possible to do manually when working on the sheets in drive but yeah they’ve limited the API. Going to have to find another way.

[2021-12-09 04:55] sandl99 commented on #963
Sorry, I didn't get what you mean here. What things `not exists` ?
About asynchronous, I think it doesn't relate with seperating api to many call times.

[2021-12-09 05:03] #963 closed

[2021-12-09 08:56] lavigne958 commented on #965
I noticed that they mention something about updating the file, use the PUT request.

I'll open an issue in Google cloud platform to check with them if this is can be looked at.

Closing this issue in the mean time.

[2021-12-09 08:56] #965 closed

[2021-12-09 08:59] lavigne958 commented on #963
I found the issue that tracks that matter: #881

I made a proposal for a solution, I'll add your proposal too: having a boolean flag at init of a spreadsheet that activate some caching mechanism

[2021-12-09 09:08] lavigne958 commented on #881
# Possible solutions
## Use some caching mechanism

- In some scenarios the user knows it is the only one accessing the spreadsheet
  - no concurrent accesses
- Some caching mechanism can be activated at the constructor of the spreadsheet
- it will fetch most of the spreadsheet properties at init
- it can (only ?) mostly rely on every interactions it makes and assume it is the only one editing the

[2021-12-09 09:23] kd-mariyan commented on #965
Thats a good idea! Would you be able to drop a link to the issue if you decide to open it? Thanks

[2021-12-09 11:07] sandl99 commented on #963
Yeah, Thank you again.
If some apps do many jobs like crawling on the large numbers of static or rarely updated SpreadSheet, this options will should be applied.

[2021-12-12 10:58] #786 closed

[2021-12-12 18:34] lavigne958 commented on #460
as mentioned above you can re-order worksheets using the method mentioned above.

Closing this issue.

[2021-12-12 18:34] #460 closed

[2021-12-12 18:35] lavigne958 opened #969 "Add badges"
## Overview

Add badges to README.MD

## Details

Add the following badges to the README.MD. It's not much but it provides the status
of the latest build and the documentation and the latest version.

[2021-12-12 18:53] lavigne958 opened #971 "Add new github action workflow for releases"
## Overview

Add a new workflow for github action to trigger a release

## Details

Github action can be used to trigger a new release, it can make most of the release process automated.
I can:
- create the tag
- create the package, then push it to PyPi
- create the github release

What is left to do is:
- update the changelog
- update the release description

[2021-12-12 18:54] #969 closed

[2021-12-12 19:22] lavigne958 commented on #940
no response from issue owner, not an error from gspread.

closing this issue.

[2021-12-12 19:22] #940 closed

[2021-12-14 07:09] #961 closed

[2021-12-17 13:32] filip-31 opened #973 "Add column headers validation for `get_all_records`"
The current implementation of `get_all_records` lacks header validation to make sure headers are unique. If two `key` row values are the same the dictionary takes just the second value as dictionaries require unique key: value pairs and the second value just overrides the first one

I'd suggest adding validation for the `keys` row that checks if all the values in this row are unique.

Alternativel

[2021-12-22 15:06] lavigne958 opened #974 "Fix documentation example on `oauth_from_dict`"
## Overview

In documentation, the example about authenticating using oauth and providing credentials and authorized user creds using dict is wrong and shows an example using the method `oauth` instead of `oauth_from_dict`.

[2021-12-22 15:41] #974 closed

[2021-12-23 10:23] lavigne958 commented on #973
Hi @filip-31

thank you for bringing that issue, this is concerning.

I agree, we must add some kind of validation to make sure every `key` in the dict is unique.

About the second point this is a bit more complexe. this is a complete new feature to introduce.

I will open a new issue to track you second idea which is:

- break the method `get_all_records` in 2 parts
  1. pull all the values
  2.

[2021-12-23 10:27] lavigne958 opened #976 "`get_all_records` could accept already pulled values"
## Overview

the method `get_all_records` could accept the values from the user, instead of pulling them.

## Details

If we break the method `get_all_records` in 2 parts, we can have a second method that can accept values from the user,
which will be in charge of validation of the headers and then call the `get_all_records` to perform the construction of the list of dictionaries.

For original id

[2022-01-04 10:40] Targolo opened #978 "Add copy_comments argument in Client.copy() method"
Hi,

The Client.copy() method currently has copy_permissions option, but lacks the copy_comments option.
It is an option that you have when you make a copy in the Google Sheet itself in the browser

Thanks
David

[2022-01-04 12:28] lavigne958 commented on #978
Hi @Targolo ,

thank you for bring that improvement.

This can be achieved, using the [Drive API](https://developers.google.com/drive/api/v3/reference/comments#resource)

I'll will plan it in the coming releases.

[2022-01-05 10:35] Targolo commented on #978
Hi,
I am not sure that the link you sent is related to what I am talking about. I am not talking about the comment on the file, in Google Drive.

I would like to copy the comments that are in the sheet itself, on cells or groups of cells.
In fact, I cannot imagine to copy a GoogleSheet and not copy the comments that are inside. I do not understand why this is not the default behavior of the API th

[2022-01-05 11:11] lavigne958 commented on #978
Hi, I strongly believe that comments on a google drive file (Sheet, presentation, docs, ...) are a special resource that are handled by the google drive API. I need to test it to confirm it.

In that case, copying a google spreadsheet does not copy the comments because they are a different resource, but they are linked to each others in some way (same, I need to check to understand that link).

Th

[2022-01-06 14:10] lavigne958 commented on #978
Hi @Targolo

I have a great news, I ran some tests using the Drive API, I managed to list all the comments of a spreadsheet and then manually push the same comment to a new spreadsheet, at the exact same location.

I'll open a PR when I get a chance.

[2022-01-06 14:14] lavigne958 commented on #947
I planned it for the 5.2.0 release, for 1st february, but don't worry if you don't have time we can push it back to later release.
no pressure :stuck_out_tongue:

[2022-01-06 14:22] lavigne958 commented on #841
closing for inactivity.

[2022-01-06 14:22] #841 closed

[2022-01-06 14:27] lavigne958 commented on #832
Implemented in release [v4.0.0](https://github.com/burnash/gspread/releases/tag/v4.0.0).

Please update gspread to latest release (as of today 5.1.1).

closing this issue.

[2022-01-06 14:27] #832 closed

[2022-01-06 14:28] lavigne958 commented on #833
closed by #945

[2022-01-06 14:28] #833 closed

[2022-01-07 05:58] ccppoo commented on #947
@lavigne958 I'll work on it, I will feel guilty if delay over 2 months 🤔

[2022-01-10 19:15] #978 closed

[2022-01-15 16:26] lavigne958 opened #981 "Simplify test cassettes"
## Overview

Simplify the test cassettes. Move every setup API call to a single file

## Details

Currently we generate the following cassettes for each test class:

1. create the spreadsheet
2. clear the sheet
3. the test itself

We could merge the first 2 cassettes.
This will allow us to clear any API call needed to do the setup in a single file. This is necessary in case the test needs to chang

[2022-01-17 07:41] #981 closed

[2022-01-20 20:11] lavigne958 opened #983 "rework test cassettes management"
### Overview

When using the method `append_row` one must specify a `range` to make sure the row is added at the right place.

This is because the Google Spreadsheet API appends the row starting at the last logical table it find in the sheet.
This makes the new row shifts from the first column, see issue #537

This is not the case anymore on Google Spreadsheet API, we must update our test suite ac

[2022-01-23 11:18] lavigne958 commented on #983
Made the wrong test, the API has not changed, the issue is still here.

Noticed why the test suite had an issue:
- after grouping all requests related to a single test in a single file
- the test suite calls the `clear()` method after each test
- because it is in a single file pyvcr only makes the first HTTP call then it uses the cassette.

Must find a reliable way to store each requests, and make

[2022-01-26 09:09] #983 closed

[2022-01-26 09:09] #973 closed

[2022-01-27 19:32] bolerodan commented on #820
Just started to struggle with this. I assume this has not been resolved? Same thing happens if I use `google-api-python-client` discovery directly instead of gspread.

The default service account on GCE instance just doesnt work, but supplying that service accounts JSON key, does work like mentioned above, so what gives?

I plan to have this run on Cloud Run but this totally blocks ever accessing

[2022-01-28 07:16] thomasheuberger commented on #820
@bolerodan What blocks you from using that on Cloud Run? You can always do something like
`del_cred = Credentials.from_service_account_info(
    credentials,
    scopes=['https://www.googleapis.com/auth/spreadsheets',
            'https://www.googleapis.com/auth/drive'],
    subject="***@***.com")
delegate_gc = gspread.authorize(del_cred)`

We've been using that in production for months

where you

[2022-01-28 07:32] lavigne958 commented on #820
Hi to go around that issue in the latest release of gspread we have a new method:
 `def​ ​service_account_from_dict​(​info​, ​scopes​=​DEFAULT_SCOPES​)`
It allows you to pass your service account credentials manually as a python dict. Instead of the JSON file.

This way you can store your creds where ever you like and don't need to rely an a actual file stored on the local file system.

[2022-01-28 13:40] bolerodan commented on #820
@thomasheuberger

Our main reason is to not rely on JSON keys at all, or having to store them in any kind of secret manager.

Google definitely pushes away from json keys as best practices and relies on using attached services accounts on resources where possible

https://cloud.google.com/iam/docs/best-practices-for-using-and-managing-service-accounts#using_service_accounts

For example all of our

[2022-01-28 13:48] lavigne958 commented on #820
Hi @bolerodan if you only need to run `creds,project = google.auth.default()` to authenticate to google services, then you can use these credentials you just got and pass them to gspread. you'll be authenticated and will be able to reach your SpreadSheets.

[2022-01-28 13:53] bolerodan commented on #820
@lavigne958 so atm i'm testing this on GCE (not cloud run / cloud function atm) and using `creds,project = google.auth.default()` provides me with a scope error

[code]

but manually passing in the service accounts ( that is attached to that VM (or where ever it will run on), hence wanting to use auth.default) JSON key,
[code]

Works, so im at a loss.